<footer class="{{bgColor}} {{textColor}}">
    <div class="container py-5 py-md-6">
        <div class="row justify-content-md-between">
            <div class="col-4 col-md-2">
                <a href="profile.html"><h2 class="h6">Profile</h2></a>
                <ul class="nav flex-column">
                </ul>
            </div>
            <div class="col-4 col-md-2">
                <a href="work.html"><h2 class="h6 mb-3">Work</h2></a>
                <ul class="nav flex-column">
                    <li class="mb-1"><a href="vocalio.html" target="_blank" class="text-muted">Vocalio</a></li>
                </ul>
            </div>
            <div class="col-4 col-md-2">
                <a href="contact.html"><h2 class="h6 mb-3">Contact</h2></a>
                <ul class="nav flex-column">
                    <li class="mb-1"><a href="https://www.linkedin.com/in/dansmithux/" target="_blank" class="text-muted">LinkedIn</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 mt-4 mt-md-0">
                © 2023 Dan Smith
            </div>
        </div>
    </div>
</footer>