<div class="bg-primary text-dark text-center">
    <div class="container py-5">
        <h2>How can I help?</h2>
        <a href="/contact" class="btn btn-light mt-4 mb-2"><span class="align-text-top">Get in touch</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>
    </div>
</div>