// Place your own CSS or SCSS below this line.
// Place your own CSS or SCSS below this line.

header.sticky-top nav {
	background: rgba(14,14,14,.85) !important;
	-webkit-backdrop-filter: blur(9px);
  	backdrop-filter: blur(9px);
}

.profile-max-width {
  	width: 100%;
    max-width: 200px;
}

.text-center-tablet {
  @include media-breakpoint-down(lg) {
    text-align: center;

    hr {
      margin: 1rem auto !important;
    }
  }
}

.pattern-square:after {
  background-image: url(/assets/img/pattern-square.svg);
  background-position: top;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  -webkit-mask-image: linear-gradient(45deg,transparent 35%,#000 75%);
  mask-image: linear-gradient(45deg,transparent 35%,#000 75%);
  padding: 40px 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}


// Hero animation
.hero-animation .word {
  display: inline-block;
  line-height: 1em;
}

.hero-animation .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.hero-animation-line {
  top: 0;
  left: 0;
  width: 25%;
}


// ---


// Google Sheets embed
.embed-container {
  position: relative;
  padding-bottom: 59.27%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



a.clipboard {
  cursor: pointer;
  // text-decoration: none;
  // box-shadow: initial;
  // border-color: transparent !important;
  background-color: $gray-200;
  padding: 1px;
}