---
layout: base
title: Alpha-1 Foundation
description: Website redesign for the Alpha-1 Foundation, a non-profit organization that supports and funds research on lung and liver diseases associated with Alpha-1 Antitrypsin Deficiency
permalink: /alpha-1-foundation.html
---

<div class="container py-5 pattern-square">
    <div class="col-md-10 col-xxl-8 mx-auto">
      <h1>Alpha-1 Foundation</h1>
      <p class="lead">Website redesign for the Alpha-1 Foundation, a non-profit organization that supports and funds research on lung and liver diseases associated with Alpha-1 Antitrypsin&nbsp;Deficiency</p>
      <div class="border border-3 border-light w-15 my-4"></div>
      <div class="d-flex align-items-center mb-4">
        <img src="assets/img/headshot-xs.png" class="bg-primary avatar avatar-sm me-3" alt="Dan Smith" width="1200" height="800">
        <div class="fst-italic small text-light">by Dan Smith</div>
        <div class="small text-light ms-auto">November 2022&ndash;August 2023</div>
    </div>
</div>
</div>

<div class="bg-white text-black">
    <div class="container py-2">
        <div class="bg-white">
            <div class="row py-4 py-lg-5">
                <div class="col-md-12">

                    <h2 class="mt-4">Background</h2>
                    <p>The Alpha-1 Foundation (A1F) funds research for Alpha-1 Antitrypsin Deficiency (AATD) – a rare genetic disorder that elevates the risk of lung and liver diseases, occurring in approximately 1 in every 2,000 to 5,000 individuals. A1F promotes early detection through genetic testing and studies, supports a DNA and tissue bank and research registry, and is affiliated with over 80 clinical centers that offer specialized care to individuals with AATD. They also provide medical education to healthcare professionals and patient education through regional events, literature, and&nbsp;referrals.</p>

                    <h3 class="mt-4">Contributions</h3>
                    <ul class="">
                        <li>UX research
                            <ul>
                                <li>Wrote user survey & extracted insights</li>
                                <li>Performed detailed heuristic evaluation</li>
                                <li>Planned & facilitated  & internal design workshops</li>
                                <li>Conducted card sort</li>
                            </ul>
                        </li>
                        <li>Information architecture
                            <ul>
                                <li>Co-created sitemap based on card sort results with clients</li>
                                <li>Navigation design (hierarchical content pages)</li>
                                <li>Megamenu & mobile menu design</li>
                            </ul>
                        </li>
                        <li>Lead generation strategy and form design</li>
                        <li>Design system
                            <ul>
                                <li>Designed and developed interactive specialist map and support group map</li>
                                <li>Contributed to typography and color scheme</li>
                                <li>Contributed to component design</li>
                                <li>Contributed to layout design</li>
                                <li>Strategically leveraged Bootstrap 5 as base for component design, resulting in faster development and simpler customization</li>
                            </ul>
                        </li>
                        <li>Contributed to front-end and WordPress development
                        </li>
                        <li>UX lead
                            <ul>
                                <li>Broke work down into phases, sprints, and tasks; provided time estimates</li>
                                <li>Mentored and allocated work to a junior UX researcher and a junior UX designer</li>
                                <li>Collaborated with and allocated work to a visual designer and a front-end developer</li>
                                <li>Client and vendor communication / coordination</li>
                            </ul>
                        </li>
                    </ul>

<!--                     <h3 class="mt-4">Timeline</h3>
                    <p>This project lasted for about 10 weeks, from October 2020 to December 2020.</p>
 -->

                    <h3 class="mt-4">Team</h3>
                    <p>The team for this project consisted of:</p>
                    <ul class="">
                        <li>Project owner / copywriter</li>
                        <li>Project manager / copywriter</li>
                        <li>Visual designer</li>
                        <li>Junior UX researcher</li>
                        <li>Junior UX designer</li>
                        <li>WordPress developer</li>
                        <li>UX lead (UX researcher and UX designer) [myself]</li>
                    </ul>


                    <hr class="my-5">


                    <h2 class="mt-4">Problem</h2>

                    <p>A1F needed a complete redesign of their website to alleviate some of the following issues:</p>
                    <ul>
                        <li>The website was dated, difficult to update, and had many broken pages and features</li>
                        <li>Disorganized and duplicate information (multiple instances of polyhierarchy), unreadable content, and lack of mobile responsiveness</li>
                        <li>Low user engagement and conversion</li>
                        <li>Inability to capture basic user data was negatively affecting fundraising and research efforts</li>
                        <li>Was not easy for staff to update</li>
                    </ul>

                    <h3 class="mt-4">Goals</h3>
                    <ul>
                        <li>Improve modernity, general functionality and mobile responsiveness</li>
                        <li>Consolidate duplicate content, simplify information architecture, increase information discoverability</li>
                        <li>Increase donations and fundraising efforts</li>
                        <li>Increase genetic testing and awareness of AATD &mdash; target younger audience, possibly undiagnosed people starting families</li>
                        <li>Increase email newsletter signup conversion</li>
                    </ul>


                    <hr class="my-5">


                    <h2 class="mt-4">Solution</h2>

                    
                    <a href="https://alpha1.org"  target="_blank" class="btn btn-primary btn-sm my-4"><span class="align-text-top">View live website</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>

                    <div class="row mt-4">
                        <div class="col-12 col-lg-6">

                            <!-- Lightbox -->
                            <p class="mt-1">Alpha-1 Foundation homepage <strong>before</strong>&nbsp;redesign:</p>
                            <img src="/assets/img/a1f/a1f-before.jpg" alt="Alpha-1 Foundation website before redesign" class="border w-100">

                        </div>
                        <div class="col-12 col-lg-6">

                            <p class="mt-1">Alpha-1 Foundation homepage <strong>after</strong>&nbsp;redesign:</p>
                            <img src="/assets/img/a1f/a1f-after.jpg" alt="Alpha-1 Foundation website after redesign" class="border w-100">

                        </div>
                    </div>



                    <hr class="my-5">





                    <h2 class="mt-4">Research and Discovery</h2>

                    <p>To address both user needs and business objectives effectively, we devised a research approach that combined both <strong>quantitative</strong> and <strong>qualitative</strong> research methods.</p>

                    <div class="bg-light p-4">
                        <h3>User Survey</h3>
                        <div class="mb-2">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScS1nlyTvtyvsJQJZR9QnP5kA_MQEnpNy7Ky4w_0Y_gTKxGVQ/viewform?usp=sf_link" target="_blank" class="link-underline"><span>View user survey</span>&nbsp;&rarr;</a>
                        </div>

                        <a href="https://docs.google.com/presentation/d/1wgA_QIO9slsiIZhmV-3LV_2BH1xsakJn45qkSqZuJ9c/edit?usp=sharing" class="link-underline" target="_blank"><span>View slide deck of survey results</span>&nbsp;&rarr;</a>

                        <h4 class="mt-4">Key Takeaways</h4>
                        <ul>
                            <li><strong>Comprehensive information hub</strong>: users appreciate the website's extensive Alpha-1 information, finding it relevant, useful, and&nbsp;informative.</li>
                            <li><strong>Relevance across disease journey</strong>: the site effectively caters to users at various stages of their Alpha-1 journey, offering valuable content that evolves with their&nbsp;understanding.</li>
                            <li><strong>Community support</strong>: the website fosters a strong sense of community, evident in the positive feedback that highlights its role in creating a supportive&nbsp;environment.</li>
                            <li><strong>Addressing information gaps</strong>: The website bridges the information gap left by healthcare professionals regarding Alpha-1, offering unique insights not readily available&nbsp;elsewhere.</li>
                            <li><strong>Enhanced usability</strong>: users express concerns about overwhelming content, non-intuitive navigation, and mobile-unfriendly design. Improving organization and mobile responsiveness can enhance user&nbsp;experience.</li>
                            <li><strong>Effective information management</strong>: implementing user-friendly navigation and organized content structures can address the challenge of overwhelming information, making content easier to discover and&nbsp;explore.</li>
                        </ul>
                    </div>


                    <div class="bg-light p-4 mt-4">
                        <h3 class="mb-4">Heuristic Evaluation</h3>


                        <!-- 16:9 aspect ratio -->
                        <div class="embed-container">
                            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTI_rglaVQS2kzoVXXWY9P0aEI4gl3eN1sp-_AWvdEoFlJ1uAl9zhRIKOYBny4kchrxHEpbSJBECAFV/embed?start=false&loop=false&delayms=30000" frameborder="0" width="939" height="557" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        </div>
                    </div>


                    <div class="bg-light p-4 mt-4">

                    <h3 class="">Design Principles Workshop</h3>
                    <ul>
                        <li>Design principles and feature prioritization based on survey and heuristic evaluation</li>
                        <li>Participants: staff / stakeholders of A1F</li>
                        <li>Prompted with 3 “how might [we]…” questions to engage empathetically with users</li>
                    </ul>
                    <a href="https://docs.google.com/presentation/d/1vYiEO0Cfs96iPV8dvVqk-kxi2jcs9tc5B5z_eqJyrTk/edit?usp=sharing" class="link-underline" target="_blank"><span>View design principles slide deck</span>&nbsp;&rarr;</a>

                    <h4 class="mt-4">Finalized Design Principles</h4>
                    <ul>
                        <li><strong>Simplicity</strong> and <strong>minimalism</strong> to help offset potential pre-existing overwhelm</li>
                        <li><strong>Intuitive structure</strong> to help people efficiently find the information they need</li>
                        <li><strong>Empathic</strong> and <strong>sensitive</strong> to user needs</li>
                        <li><strong>Data-driven</strong> to solve the right problems</li>
                        <li><strong>Accessibility</strong> and <strong>inclusivity</strong> as a focus (ADA compliance)</li>
                    </ul>

                    <h4 class="mt-4">Target Audience</h4>
                    <p>From survey results and stakeholder workshop / discussions, decided primary audiences for redesign would&nbsp;be:</p>
                    <ul>
                        <li>Individuals newly diagnosed with AATD, seeking information and resources</li>
                        <li>Undiagnosed individuals; those seeking testing and genetic counseling</li>
                    </ul>

                    <h4 class="mt-4">Prioritized Features</h4>
                    <p>From survey results, heuristic evaluation, and stakeholder workshop / discussions, decided most impactful features would&nbsp;be:</p>
                    <ul>
                        <li>Specialist map and support group map with gated content to improve lead generation</li>
                        <li>Resource library
                            <ul>
                                <li>Searchable resource section for users to find relevant literature and materials about AATD</li>
                            </ul>
                        </li>
                        <li>Video library
                            <ul>
                                <li>Library of video content, searchable and filterable by events, speakers, topics</li>
                            </ul>
                        </li>
                        <li>Calendar of events</li>
                        <li>News / blog</li>
                        <li>Redesigned forms</li>
                    </ul>
                </div>

                <div class="bg-light p-4 mt-4">

                    <h3 class="">Card Sort</h3>
                    <p>Hypothesis: based on established best practices and research, audience-segmented navigation creates confusion and forces users to self-identify into an audience category, while the information they seek could fall under multiple audience categories.</p>

                    <h4 class="mt-4">Method</h4>
                    <ul>
                        <li>Open cart sort study on UXtweak</li>
                        <li>27 respondents completed the card sort</li>
                        <li>About half of the respondents were recruited directly by A1F</li>
                    </ul>

                    <h4 class="mt-4">Results</h4>
                    <p>Respondents sorted information into topic-based categories; no respondents intrinsically sorted information into audience-segmented categories.</p>
                    <ul>
                        <li>Detracting factors for card sort:
                            <ul>
                                <li>"Alpha-1" prefix on individual cards created grouping bias and compromised value of some data</li>
                                <li>Ambiguity of some individual card names compromised value of data (e.g. jargon, branding making it difficult for new users to understand definitions)</li>
                            </ul>
                        </li>
                    </ul>

                    <p class="mb-0">Among other methods, we used Respondent-Centric Analysis (RCA) to explore the similarity of responses at varying thresholds to find patterns and decide on the final information architecture&nbsp;structure.</p>

                </div>






                    <hr class="my-5">


                    <h2 class="mt-4">Information Architecture</h2>

                    <p>Based on the results of the card sort, we moved forward with:</p>

                    <ul class="">
                        <li>Main navigation with a simplified, logical topic-based category organization, eliminating all instances of polyhierarchy</li>
                        <li>Secondary "eyebrow" navigation for high-priority features/pages</li>
                        <li>Footer with some curated categories (Newly Diagnosed, Healthcare Providers, Resources)</li>
                        <li>Category sidebar navigation for content pages, instead of category overview/landing pages, to simplify site structure and enable quicker navigation</li>
                    </ul>
                    <a href="https://docs.google.com/presentation/d/1jsigkbcB9x0nALsfkAxvNcnKUzlwZhSEa6WnaO16ivc/edit?usp=sharing" class="link-underline" target="_blank"><span>View iteration of sitemap</span>&nbsp;&rarr;</a>

                    <hr class="my-5">


                    <h2 class="mt-4">Design</h2>

                    <ul class="">
                        <li>Navigation</li>
                        <li>Visual design of components and content pages</li>
                        <li>Design system</li>
                        <li>Interaction design</li>
                        <li>Prototyping with code (interactive maps)</li>
                    </ul>

                    <div class="mt-4">
                        <a href="https://docs.google.com/presentation/d/1xzoWdyd9Z8zbvlMer_pdlAUD_BplqoNJIQXzB-vLvrI/edit?usp=sharing" target="_blank" class="link-underline"><span>View component benchmarking slide deck</span>&nbsp;&rarr;</a>
                    </div>
                    <div class="mt-2">
                        <a href="https://docs.google.com/presentation/d/1jg4ylyEbU9A9oaQLOuo1RJLQ1fbFy4cV8ltDp4zVxYI/edit?usp=sharing" target="_blank" class="link-underline"><span>View design concepting slide deck</span>&nbsp;&rarr;</a>
                    </div>
                    <div class="mt-2">
                        <a href="https://www.figma.com/file/85a8knSxKXBi0NGaapPgJb/Alpha-1-Foundation?type=design&amp;node-id=0%3A1&amp;mode=design&amp;t=xs8oMSXNlhjPIwF9-1" target="_blank" class="link-underline"><span>View Figma file of design ideation, components, and mockups</span>&nbsp;&rarr;</a>
                    </div>

                    <hr class="my-5">



                    <h2 class="mt-4">Results and Outcomes</h2>

                    <ul class="mb-0">
                        <li>Preliminary feedback
                            <ul>
                                <li>Information is easily accessible on all screen sizes and devices</li>
                                <li>Video library and resource library make it easy to find educational materials</li>
                                <li>Specialist and support group maps are easy to use</li>
                                <li>Design is clean and modern</li>
                            </ul>
                        </li>
                    </ul>

                    <hr class="my-5">

                    <h2 class="mt-4">What's Next</h2>
                    <ul class="mb-0">
                        <li>Usability testing
                            <ul>
                                <li>Usability enhancements</li>
                            </ul>
                        </li>
                        <li>Tree testing and IA refinements
                        </li>
                        <li>Additional features
                            <ul>
                                <li>Alpha Angels (memorial database)</li>
                                <li>Clinical trials finder</li>
                            </ul>
                        </li>
                    </ul>



                    <hr class="my-5">


                    <div class="d-flex justify-content-between align-content-center lh-1">
                        <a href="pitchbook.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Previous case study">
                          <i class="material-icons icon-2x" aria-hidden="true">arrow_back</i>
                          <span class="visually-hidden">Previous case study</span>
                      </a>
                      <a href="portfolio.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="View all case studies">
                          <i class="material-icons icon-2x">view_module</i>
                      </a>
                      <a href="vertex.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Next case study">
                          <i class="material-icons icon-2x" aria-hidden="true">arrow_forward</i>
                          <span class="visually-hidden">Next case study</span>
                      </a>
                  </div>

              </div>

          </div>
      </div>
  </div>
</div>
