---
layout: base
title: Carbon Titans
description: Website redesign and rebuild for company focused on planting redwood trees to combat climate change
permalink: /carbon-titans.html
---

<div class="container py-5 py-lg-6">
    <div class="col-md-10 col-xxl-8 mx-auto">
      <h1>Carbon Titans</h1>
      <p class="lead">Website redesign and rebuild for company focused on planting redwood trees to combat climate&nbsp;change</p>
      <div class="border border-3 border-light w-15 my-4"></div>
      <div class="d-flex align-items-center mb-4">
        <img src="assets/img/headshot-xs.png" class="bg-primary avatar avatar-sm me-3" alt="Dan Smith" width="1200" height="800">
        <div class="fst-italic small text-light">by Dan Smith</div>
        <div class="small text-light ms-auto">October 2022&ndash;March 2023</div>
    </div>
</div>
</div>

<div class="bg-white text-black">
    <div class="container py-2">
        <div class="bg-white mt-lg-n6 px-3 px-lg-0">
            <div class="row justify-content-center py-4 py-lg-5">
                <div class="col-md-10 col-lg-8">

                    <h2 class="mt-4">Background</h2>

                    <p>Website redesign and rebuild for emerging company focused on planting redwood trees to combat climate&nbsp;change</p>

                    <h3>Goals</h3>
                    <ul>
                        <li>Transition site from Wix to improve mobile responsiveness, customizability, and performance</li>
                        <li>Simplify information architecture</li>
                        <li>Streamline and de-duplicate content</li>
                    </ul>

                    <h3>Contributions</h3>
                    <ul>
                        <li>Information architecture</li>
                        <li>Content strategy</li>
                        <li>Visual design</li>
                        <li>Interaction design</li>
                        <li>Prototyping with code</li>
                        <li>Web development</li>
                    </ul>

                    <a href="https://www.carbontitans.com/"  target="_blank" class="btn btn-primary my-4"><span class="align-text-top">View live website</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>
                    <div class="mt-2">
                        <a href="https://www.figma.com/file/xq36hx2oRcqCLru3cDrBI3/Portfolio-%2F-Carbon-Titans%3A-Sitemap?type=whiteboard&node-id=0%3A1&t=RRf3AcnWmxdYqmSz-1" target="_blank" class="d-block text-black text-decoration-underline"><span>View FigJam file of sitemap ideation</span>&nbsp;&rarr;</a>
                    </div>
                    <div class="mt-2">
                        <a href="https://www.figma.com/file/B28i2p4BN80mQB7Sdn2nW5/Portfolio-%2F-Carbon-Titans%3A-Visual-Design?type=design&node-id=0%3A1&mode=design&t=W97SVqzhxSMJg3HG-1" target="_blank" class="d-block text-black text-decoration-underline"><span>View Figma file of style guide / design ideation</span>&nbsp;&rarr;</a>
                    </div>


                    <hr class="my-5">

                    <div class="d-flex justify-content-between align-content-center lh-1">
                        <a href="alpha-1-foundation.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Previous case study">
                          <i class="material-icons icon-2x" aria-hidden="true">arrow_back</i>
                          <span class="visually-hidden">Previous case study</span>
                      </a>
                      <a href="case-studies.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="View all case studies">
                          <i class="material-icons icon-2x">view_module</i>
                      </a>
                      <a href="vertex.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Next case study">
                          <i class="material-icons icon-2x" aria-hidden="true">arrow_forward</i>
                          <span class="visually-hidden">Next case study</span>
                      </a>
                  </div>

              </div>

          </div>
      </div>
  </div>
</div>