---
layout: base
title: Clear Your View
description: Educational web presence for healthcare professionals about complete biomarker testing before first-line treatment for advanced cancer patients
permalink: /clear-your-view.html
---


<div class="container py-5 py-lg-6">
    <div class="col-md-10 col-xxl-8 mx-auto">
      <h1>Clear Your View</h1>
      <p class="lead">Educational web presence for healthcare professionals about complete biomarker testing before first-line treatment for advanced cancer&nbsp;patients</p>
      <div class="border border-3 border-light w-15 my-4"></div>
      <div class="d-flex align-items-center mb-4">
        <img src="assets/img/headshot-xs.png" class="bg-primary avatar avatar-sm me-3" alt="Dan Smith" width="1200" height="800">
        <div class="fst-italic small text-light">by Dan Smith</div>
        <div class="small text-light ms-auto">February&ndash;April 2021</div>
    </div>
</div>
</div>

<div class="bg-white text-black">
    <div class="container py-2">
        <div class="bg-white mt-lg-n6 px-3 px-lg-0">
            <div class="row justify-content-center py-4 py-lg-5">
                <div class="col-md-10 col-lg-8">

                    <h2 class="mt-4">Background</h2>



                    <p>The rise in biomarker-targeted treatments for non-small cell lung cancer has prompted national guidelines promoting thorough biomarker testing. However, many community oncologists neglect to test for all suggested biomarkers, potentially compromising patient outcomes. We created an unbranded, data-driven web campaign called "Clear Your View" for Guardant Health to aid clinicians in recognizing the vital importance of biomarker testing in treatment choices.</p>


                    <a href="https://clearyourview.org"  target="_blank" class="btn btn-primary mb-4"><span class="align-text-top">View live website</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>



                    <h2 class="mt-4">Interaction Design</h2>

                    <ul class="mb-0">
                        <li>Usability and accessibility best practices</li>
                        <li>Navigation design recommendations</li>
                    </ul>


                    <h2 class="mt-4">Web Development</h2>

                    <ul class="mb-0">
                        <li>Hand-coded and fully customized design system built on top of Bootstrap</li>
                        <li>Salesforce Pardot form integration</li>
                    </ul>


                    <hr class="my-5">

                    <div class="d-flex justify-content-between align-content-center lh-1">
                        <a href="vertex.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Previous case study">
                          <i class="material-icons icon-2x" aria-hidden="true">arrow_back</i>
                          <span class="visually-hidden">Previous case study</span>
                      </a>
                      <a href="portfolio.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="View all case studies">
                          <i class="material-icons icon-2x">view_module</i>
                      </a>
                      <a href="vocalio.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Next case study">
                          <i class="material-icons icon-2x" aria-hidden="true">arrow_forward</i>
                          <span class="visually-hidden">Next case study</span>
                      </a>
                  </div>

              </div>

          </div>
      </div>
  </div>
</div>
