---
layout: base
title: Home
description: 
permalink: /
---

<!-- Hero -->
<div class="container py-5 pattern-square">
    <div class="row">
        
        <div class="col-lg-7">

            <h1 class="hero-animation pt-4">
                <span class="text-wrapper">
                    <div class="font-sans-serif display-3">
                        <span class="word text-primary difference">DAN </span>
                        <span class="word text-primary difference">SMITH</span>
                    </div>

                    <div class="font-sans-serif fs-3">
                        <span class="word">UX </span>
                        <span class="word">ENGINEER</span>
                    </div>
                </span>
            </h1>

            <div class="border border-3 border-white w-15 my-4 hero-animation-line"></div>

            <div class="row hero-animation-body">
                <div class="col-lg-11">

                    <p class="font-serif fs-5 mb-5 text-secondary difference">
                        Microsoft engineering alumnus with graduate degree in UX design, UX Master Certificate & over 8 years of experience. I focus on promoting human ease & efficiency, bridging design & engineering, and using technology to inspire curiosity & growth.
                    </p>

                </div>
            </div>

            <a href="resume.html" class="btn btn-primary btn-sm align-middle hero-animation-body mb-5 difference"><span class="align-text-top">Read more</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>

        </div>

        <div class="col-lg-5">
                    
            <canvas
              id="cobe"
              style="width: 500px; height: 500px"
              width="500"
              height="500"
              class=""
            ></canvas>

            <script type="module">
              import createGlobe from 'https://cdn.skypack.dev/cobe'

              let phi = 0
              let canvas = document.getElementById("cobe")

              const globe = createGlobe(canvas, {
                devicePixelRatio: 2,
                width: 1000,
                height: 1000,
                phi: 0,
                theta: 0,
                dark: 1.1,
                diffuse: 1.2,
                scale: 1,
                mapSamples: 16000,
                mapBrightness: 5,
                baseColor: [1, 1, 1],
                markerColor: [38 / 255, 166 / 255, 91 / 255],
                glowColor: [1, 1, 1],
                offset: [0, 0],
                markers: [
                  { location: [47.6061, -122.3328], size: 0.1 }
                ],
                onRender: (state) => {
                  // Called on every animation frame.
                  // `state` will be an empty object, return updated params.
                  state.phi = phi
                  phi += 0.001
                },
              })
            </script>
        </div>
        
    </div>

</div>

<!-- Logos -->
<div class="bg-light text-black">
    <div class="container hero-animation-body">
        <div class="row">
            <div class="col-12 py-3">

                <article class="wrapper">
                    <div class="marquee">
                        <div class="marquee__group">
                            <img src="assets/img/logos/wwu.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/ga.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/pitchbook.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/msft.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/mica.jpg" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/guardant.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/nng.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/vertex.jpg" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/a1f.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                        </div>
                        <div aria-hidden="true" class="marquee__group">
                            <img src="assets/img/logos/wwu.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/ga.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/pitchbook.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/msft.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/mica.jpg" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/guardant.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/nng.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/vertex.jpg" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                            <img src="assets/img/logos/a1f.png" class="avatar-logo p-1 my-4 bg-white shadow rounded" />
                        </div>
                    </div>
                </article>

            </div>

        </div>
    </div>
</div>



<!-- Projects -->

<div class="bg-white text-black">

    <div class="py-6 pattern-square-light hero-animation-body">
        <div class="container">

            <ul class="row list-unstyled">

                <li class="col-md-4 mb-3">
                    <a href="alpha-1-foundation.html" class="link-circle-container">
                        <figure>
                            <div class="mb-3">
                                <img src="assets/img/a1f-mac.png" alt="Alpha-1" class="w-100">
                            </div>
                            <figcaption class="h5 fw-normal text-black text-center">Alpha-1 Foundation</figcaption>
                        </figure>
                        <div class="link-circle"></div>
                    </a>
                </li>

                <li class="col-md-4 mb-3">
                    <a href="vertex.html" class="link-circle-container">
                        <figure>
                            <div class="mb-3">
                                <img src="assets/img/vertex-mac.png" alt="Vertex" class="w-100">
                            </div>
                            <figcaption class="h5 fw-normal text-black text-center">Vertex</figcaption>
                        </figure>
                        <div class="link-circle"></div>
                    </a>
                </li>

                <li class="col-md-4 mb-3">
                    <a href="clear-your-view.html" class="link-circle-container">
                        <figure>
                            <div class="mb-3">
                                <img src="assets/img/cyv-mobile.png" alt="Clear Your View" class="w-100">
                            </div>
                            <figcaption class="h5 fw-normal text-black text-center">Clear Your View</figcaption>
                        </figure>
                        <div class="link-circle"></div>
                    </a>
                </li>

            </ul>
            <div class="text-center mt-4">
                <a href="portfolio.html" class="btn btn-outline-dark btn-sm"><span class="align-text-top">View portfolio</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>
            </div>
        </div>
    </div>

</div>

<script>
    anime.timeline({loop: false})
    .add({
        targets: '.hero-animation .word',
        scale: [0.75,1],
        opacity: [0,1],
        translateZ: 0,
        easing: "easeOutExpo",
        duration: 300,
        delay: (el, i) => 150 * (i+1)
    }).add({
        targets: '.hero-animation-line',
        scaleX: [0,1],
        width: [0, '25%'],
        opacity: [0,1],
        easing: "easeOutExpo",
        duration: 360,
        delay: (el, i, l) => 10 * (l - i)
    }).add({
        targets: '.hero-animation-body',
        scaleX: [1,1],
        translateY: [18,0],
        opacity: [0,1],
        easing: "easeOutExpo",
        duration: 300,
        delay: (el, i, l) => 10 * (l - i)
    }).add({
        targets: '#cobe',
        scale: [0,1],
        opacity: [0,1],
        translateX: [-300,0],
        translateY: [-100, 0],
        easing: "easeOutExpo",
        duration: 500
    });
</script>