---
layout: base
title: Home
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /
---
    <main id="content">

        <!-- Hero -->
        <div class="container pt-5 pb-6">
            <h1 class="display-2 pb-2 hero-animation">
                <span class="text-wrapper">
                    <span class="word">Well </span>
                    <span class="word">hello, </span>
                    <span class="word">world!</span>
                </span>
            </h1>

            <!-- <hr class="border-3 border-white my-4 ml-0 text-left hero-animation-line" role="presentation"> -->

            <div class="border border-3 border-white w-15 my-4 hero-animation-line"></div>

            <div class="row hero-animation-body">
                <div class="col-lg-8">
                    <p class="font-serif lead mb-4 text-secondary">
                        Interdisciplinary UX designer with special interests in interaction design, information architecture, user research, and front&#8209;end&nbsp;development
                    </p>
                </div>
            </div>

            <a href="profile.html" class="btn btn-primary align-middle hero-animation-body"><span class="align-text-top">Read profile</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>
        </div>

        <!-- Projects -->

        <div class="bg-white text-black">
            <div class="container py-6 hero-animation-body">
                <ul class="row list-unstyled">
                    <li class="col-md-4 mb-3">
                        <a href="vocalio.html">
                            <figure>
                                <div class="img-overlay mb-3">
                                    <img src="assets/img/vocalio-thumb.png" alt="Vocalio" class="img-thumbnail">
                                    <div class="img-hover">
                                        <p class="img-text"><span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
                                    </div>
                                </div>
                                <figcaption class="h5 fw-normal text-black text-center">Vocalio</figcaption>
                            </figure>
                        </a>
                    </li>


                    <li class="col-md-4 mb-3">
                        <a href="https://clearyourview.org" target="_blank">
                            <figure>
                                <div class="img-overlay mb-3">
                                    <img src="assets/img/cyv-thumb.png" alt="Architecture" class="img-thumbnail">
                                    <div class="img-hover">
                                        <p class="img-text"><span class="align-text-top">View site</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
                                    </div>
                                </div>
                                <figcaption class="h5 fw-normal text-black text-center">Clear Your View</figcaption>
                            </figure>
                        </a>
                    </li>
                    
                    <li class="col-md-4 mb-3">
                        <a href="sustain-a-bowl.html">
                            <figure>
                                <div class="img-overlay mb-3">
                                    <img src="assets/img/sustainabowl-thumb.png" alt="Vocalio" class="img-thumbnail">
                                    <div class="img-hover">
                                        <p class="img-text"><span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
                                    </div>
                                </div>
                                <figcaption class="h5 fw-normal text-black text-center">Sustain-A-Bowl</figcaption>
                            </figure>
                        </a>
                    </li>


                </ul>
                <div class="text-center mt-4">
                    <a href="case-studies.html" class="btn btn-outline-black"><span class="align-text-top">View all case studies</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>
                </div>
            </div>
        </div>


        <!-- Call to action -->
        <div class="bg-primary text-dark text-center">
            <div class="container py-6">
                <h2>How can I help?</h2>
                <a href="contact.html" class="btn btn-light mt-4 mb-2"><span class="align-text-top">Get in touch</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>
            </div>
        </div>
    </main>

    <!-- For title text animation in header.njk -->
    <script>
        anime.timeline({loop: false})
        .add({
            targets: '.hero-animation .word',
            scale: [0.75,1],
            opacity: [0,1],
            translateZ: 0,
            easing: "easeOutExpo",
            duration: 300,
            delay: (el, i) => 150 * (i+1)
        }).add({
            targets: '.hero-animation-line',
            scaleX: [0,1],
            width: [0, '25%'],
            opacity: [0,1],
            easing: "easeOutExpo",
            duration: 360,
            delay: (el, i, l) => 10 * (l - i)
        }).add({
            targets: '.hero-animation-body',
            scaleX: [1,1],
            translateY: [18,0],
            opacity: [0,1],
            easing: "easeOutExpo",
            duration: 800,
            delay: (el, i, l) => 10 * (l - i)
        });
    </script>