---
layout: base
title: Home
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /
---

<!-- Hero -->
<div class="container py-5 pattern-square">
    <h1 class="hero-animation pt-4">
        <span class="text-wrapper">
            <div class="font-sans-serif display-3">
                <span class="word text-primary">DAN </span>
                <span class="word text-primary">SMITH</span>
            </div>

            <div class="font-sans-serif fs-3">
                <span class="word">UX </span>
                <span class="word">ENGINEER</span>
            </div>
        </span>
    </h1>

    <div class="border border-3 border-white w-15 my-4 hero-animation-line"></div>

    <div class="row hero-animation-body">
        <div class="col-lg-8">

            <p class="font-serif fs-5 mb-5 text-secondary">
                Microsoft engineering alumnus with a master's degree in UX design and a UX Master Certificate from the Nielsen Norman Group.

                Passionate about usability, accessibility, inclusivity, clean code, and fostering empathy & collaboration between design & engineering.
            </p>

        </div>
    </div>

    <a href="resume.html" class="btn btn-primary btn-sm align-middle hero-animation-body mb-5"><span class="align-text-top">Read more</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>
</div>



<div class="bg-light text-black">
    <div class="container hero-animation-body">
        <div class="row">
            <div class="col-12 py-3">

                <article class="wrapper">
                    <div class="marquee">
                        <div class="marquee__group">
                            <img src="assets/img/wwu.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/ga.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/pitchbook.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/msft.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/mica.jpg" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/guardant.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/nng.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/vertex.jpg" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/a1f.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                        </div>
                        <div aria-hidden="true" class="marquee__group">
                            <img src="assets/img/wwu.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/ga.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/pitchbook.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/msft.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/mica.jpg" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/guardant.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/nng.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/vertex.jpg" class="avatar-logo p-1 my-4 bg-white shadow " />
                            <img src="assets/img/a1f.png" class="avatar-logo p-1 my-4 bg-white shadow " />
                        </div>
                    </div>
                </article>

            </div>

        </div>
    </div>
</div>



<!-- Projects -->

<div class="bg-white text-black">
    <div class="container py-6 hero-animation-body">
        <ul class="row list-unstyled">

            <li class="col-md-4 mb-3">
                <a href="alpha-1-foundation.html">
                    <figure>
                        <div class="img-overlay mb-3">
                            <img src="assets/img/a1f-thumb.png" alt="Alpha-1" class="img-thumbnail">
                            <div class="img-hover">
                                <p class="img-text"><span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
                            </div>
                        </div>
                        <figcaption class="h5 fw-normal text-black text-center">Alpha-1 Foundation</figcaption>
                    </figure>
                </a>
            </li>

            <li class="col-md-4 mb-3">
                <a href="vertex.html">
                    <figure>
                        <div class="img-overlay mb-3">
                            <img src="assets/img/vertex-thumb.png" alt="Vertex" class="img-thumbnail">
                            <div class="img-hover">
                                <p class="img-text"><span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
                            </div>
                        </div>
                        <figcaption class="h5 fw-normal text-black text-center">Vertex</figcaption>
                    </figure>
                </a>
            </li>

            <li class="col-md-4 mb-3">
                <a href="vocalio.html">
                    <figure>
                        <div class="img-overlay mb-3">
                            <img src="assets/img/vocalio-thumb.png" alt="Vocalio" class="img-thumbnail">
                            <div class="img-hover">
                                <p class="img-text"><span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
                            </div>
                        </div>
                        <figcaption class="h5 fw-normal text-black text-center">Vocalio</figcaption>
                    </figure>
                </a>
            </li>

        </ul>
        <div class="text-center mt-4">
            <a href="portfolio.html" class="btn btn-outline-dark btn-sm"><span class="align-text-top">View portfolio</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>
        </div>
    </div>
</div>


<!-- For title text animation in header.njk -->
<script>
    anime.timeline({loop: false})
    .add({
        targets: '.hero-animation .word',
        scale: [0.75,1],
        opacity: [0,1],
        translateZ: 0,
        easing: "easeOutExpo",
        duration: 300,
        delay: (el, i) => 150 * (i+1)
    }).add({
        targets: '.hero-animation-line',
        scaleX: [0,1],
        width: [0, '25%'],
        opacity: [0,1],
        easing: "easeOutExpo",
        duration: 360,
        delay: (el, i, l) => 10 * (l - i)
    }).add({
        targets: '.hero-animation-body',
        scaleX: [1,1],
        translateY: [18,0],
        opacity: [0,1],
        easing: "easeOutExpo",
        duration: 800,
        delay: (el, i, l) => 10 * (l - i)
    });
</script>