---
layout: base
title: MIDIMorph
description: Simple microservice app that provides fast & free MIDI file transposition and tempo adjustment for musicians
permalink: /midimorph.html
---

<div class="container py-5 py-lg-6">
    <div class="col-md-10 col-xxl-8 mx-auto">
      <h1>MIDIMorph</h1>
      <p class="lead">Simple microservice app that provides fast & free MIDI file transposition and tempo adjustment for&nbsp;musicians</p>
      <div class="border border-3 border-light w-15 my-4"></div>
      <div class="d-flex align-items-center mb-4">
        <img src="assets/img/headshot-xs.png" class="bg-primary avatar avatar-sm me-3" alt="Dan Smith" width="1200" height="800">
        <div class="fst-italic small text-light">by Dan Smith</div>
        <div class="small text-light ms-auto">March 2024</div>
    </div>
</div>
</div>

<div class="bg-white text-black">
    <div class="container py-2">
        <div class="bg-white mt-lg-n6 px-3 px-lg-0">
            <div class="row justify-content-center py-4 py-lg-5">
                <div class="col-md-10 col-lg-8">

                    <h2 class="mt-4">Background</h2>

                    <p>Simple microservice app that provides fast & free MIDI file transposition and tempo adjustment for&nbsp;musicians</p>

                    <a href="https://dansmithux.pythonanywhere.com/"  target="_blank" class="btn btn-primary mb-5"><span class="align-text-top">View live app</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>

                    <!-- Link to view on GitHub -->

                    <h3>Goals</h3>
                    <ul>
                        <li>Enable users to quickly & reliably adjust MIDI files without having to open up any additional software</li>
                        <li>Serve as proof of concept for a larger, related application</li>
                    </ul>

                    <h3>Tech Stack</h3>
                    <ul>
                        <li>TailwindCSS</li>
                        <li>Mido</li>
                        <li>Flask</li>
                    </ul>

                    <h3>What's Next</h3>
                    <ul>
                        <li>Transposition fix for notes that are higher or lower than the MIDI range (below 0 or higher than 127)</li>
                        <li>Drag and drop for file upload</li>
                        <li>Additional research on most useful tempo change rates</li>
                        <li>Additional error validation</li>
                    </ul>



                    <hr class="my-5">

                    <!-- // to update -->
                    <div class="d-flex justify-content-between align-content-center lh-1">
                        <a href="pitchbook.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Previous case study">
                          <i class="material-icons icon-2x" aria-hidden="true">arrow_back</i>
                          <span class="visually-hidden">Previous case study</span>
                      </a>
                      <a href="portfolio.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="View all case studies">
                          <i class="material-icons icon-2x">view_module</i>
                      </a>
                      <a href="alpha-1-foundation.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Next case study">
                          <i class="material-icons icon-2x" aria-hidden="true">arrow_forward</i>
                          <span class="visually-hidden">Next case study</span>
                      </a>
                  </div>

              </div>

          </div>
      </div>
  </div>
</div>