---
layout: base
title: PitchBook Data
description: Collection of fintech tools and applications that helped significantly enhance data coverage, acquire exclusive company insights, and improve data quality
permalink: /pitchbook.html
---


<div class="container py-5 py-lg-6">
    <div class="col-md-10 col-xxl-8 mx-auto">
      <h1>PitchBook Data</h1>
      <p class="lead">Collection of fintech tools and applications that helped significantly enhance data coverage, acquire exclusive company insights, and improve data&nbsp;quality</p>
      <div class="border border-3 border-light w-15 my-4"></div>
      <div class="d-flex align-items-center mb-4">
        <img src="assets/img/headshot-xs.png" class="bg-primary avatar avatar-sm me-3" alt="Dan Smith" width="1200" height="800">
        <div class="fst-italic small text-light">by Dan Smith</div>
        <div class="small text-light ms-auto">September 2015&ndash;March 2017</div>
    </div>
</div>
</div>

<div class="bg-white text-black">
    <div class="container py-2">
        <div class="bg-white mt-lg-n6 px-3 px-lg-0">
            <div class="row justify-content-center py-4 py-lg-5">
                <div class="col-md-10 col-lg-8">


                  <h2 class="mt-4">Background</h2>

                  <p>PitchBook, a B2B fintech SaaS company, provides customers with private market data through the PitchBook Platform, a suite of award-winning software applications and financial analysis tools.</p>

                  <p>The following projects are a collection of tools and applications I designed and developed that helped significantly enhance data coverage, acquire exclusive company insights, and improve data quality.</p>

                  <h3>Goals</h3>
                  <ul class="mb-0">
                    <li>Improve PitchBook's data coverage and acquisition</li>
                    <li>Find companies and data points that competitors cannot</li>
                    <li>Increase quality of data</li>
                    <li>Use data science to provide insights on quality of data</li>
                    <li>All happens at a rate that exceeds what a human could perform through advanced computer science and machine learning engineering methods</li>
                </ul>

                <hr class="my-5">


                <h2 class="mt-4">Screenshot Generator</h2>

                <ul>
                    <li>Built to improve private company survey process</li>
                    <li>Time needed to create 120 screenshots for survey emails:
                      <ul>
                        <li>Manually: ~90 minutes</li>
                        <li>Using Screenshot Generator: ~4 minutes</li>
                        <li><strong>2,250%</strong> speed improvement</li>
                    </ul>
                </li>
                <li>Process is automatic; researcher can do other tasks during 4 minutes</li>
                <li>Used temporary user interface</li>
                <li>Integrated into internal workflow software, further improving speed</li>
            </ul>

            <img src="assets/img/pitchbook/screenshot-generator.png" alt="Screenshot Generator interface" class="w-100" data-action="zoom">
            <p class="mt-1">Screenshot Generator interface; used by Primary Research teams</p>

            <img src="assets/img/pitchbook/screenshot-generator-output.png" alt="Screenshot Generator output" class="w-100" data-action="zoom">
            <p class="mt-1 mb-0">Screenshot output created by Screenshot Generator</p>

            <hr class="my-5">

            <h2 class="mt-4">Primary Report Tool</h2>

            <ul>
                <li>Updated Report Tool interface for Primary Research team to have in front of them during calls</li>
                <li>Updated user interface to increase legibility and usability</li>
                <li>Displaying most relevant data points with customized & prioritized ordering and highlighting</li>
                <li>Implemented “Export to Excel” feature to streamline note-taking and data entry accuracy</li>
            </ul>

            <img src="assets/img/pitchbook/primary-report-tool.png" alt="Primary Report Tool interface" class="w-100" data-action="zoom">


            <hr class="my-5">
            <h2 class="mt-4">Survey Profile Editor</h2>

            <ul>
                <li>Redesigned and enhanced survey tool for better user interaction with data</li>
                <li>Concept gives many more people a preview of what PitchBook looks like</li>
                <li>Clean, intuitive interface allows for simple data editing and confirmation</li>
                <li>Introductory guided interaction flow will be added to ensure most important data points are entered/confirmed by survey contact</li>
            </ul>

            <img src="assets/img/pitchbook/survey-profile-editor.png" alt="Survey Profile Editor interface" class="w-100" data-action="zoom">
            <p class="mt-1">Profile Editor is a replica of PitchBook platform, but with editable fields (hovering over value shows editability)</p>

            <img src="assets/img/pitchbook/survey-profile-editor-editing.png" alt="Survey Profile Editor interface with editable field active" class="w-100" data-action="zoom">
            <p class="mt-1 mb-0">Clicking on a value will transform it into an appropriate input field (textbox, dropdown menu, etc.)</p>

            <hr class="my-5">

            <h2 class="mt-4">News as a Service (NaaS)</h2>

            <p>The NaaS interface was used as a primary application by full-time researchers and research managers, in order to identify key sentences about company events and key financial data points (e.g. revenue, EBITDA, funding rounds, employee count) from various news sources, capture relevant data, and validate/improve the accuracy of the machine learning models.</p>

            <img src="assets/img/pitchbook/naas-1.png" alt="Early design ideation for navigation, search, & article details" class="w-100" data-action="zoom">
            <p class="mt-1">Early design ideation for navigation, search, & article details</p>

            <img src="assets/img/pitchbook/naas-2.png" alt="Mid-fidelity interaction design ideation" class="w-100" data-action="zoom">
            <p class="mt-1">Mid-fidelity interaction design ideation</p>

            <img src="assets/img/pitchbook/naas-3.png" alt="Screenshot of high-fidelity web prototype" class="w-100" data-action="zoom">
            <p class="mt-1 mb-0">Screenshot of functional, high-fidelity web prototype; final product used full-time by Research team</p>


            <hr class="my-5">

            <div class="d-flex justify-content-between align-content-center lh-1">
                <a href="sustain-a-bowl.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Previous case study">
                  <i class="material-icons icon-2x" aria-hidden="true">arrow_back</i>
                  <span class="visually-hidden">Previous case study</span>
              </a>
              <a href="case-studies.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="View all case studies">
                  <i class="material-icons icon-2x">view_module</i>
              </a>
              <a href="alpha-1-foundation.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Next case study">
                  <i class="material-icons icon-2x" aria-hidden="true">arrow_forward</i>
                  <span class="visually-hidden">Next case study</span>
              </a>
          </div>

      </div>

  </div>
</div>
</div>
</div>
