---
layout: base
title: Portfolio
description: Explore case studies, artifacts & shipped projects in the wild
permalink: /portfolio.html
---
<!-- Header -->
<div class="container py-5 py-lg-6 pattern-square">
  <div class="col-lg-10 col-xxl-8 text-white">
    <h1 class="display-4">Portfolio</h1>
    <div class="border border-3 border-white w-15 my-4"></div>
    <p class="lead">Explore case studies, artifacts & shipped projects in the&nbsp;wild</p>
  </div>
</div>




<!-- Projects -->
<div class="bg-white text-black">
  <div class="py-6">
    <div class="container pattern-square-light">

      <div class="case-study row justify-content-lg-between align-items-center gy-4 py-5 py-lg-6" id="a1f">
        <div class="col-lg-6">
          <a href="/alpha-1-foundation/" class="link-circle-container">
            <figure class="mb-0">
              <img src="assets/img/a1f-mac.png" alt="Alpha-1 Foundation website redesign" class="w-100">
            </figure>
            <div class="link-circle"></div>
          </a>
        </div>
        <div class="col-lg-5">
          <h2 class="fw-normal mb-0">Alpha-1 Foundation</h2>

          <div class="mt-2 mb-3">
            <span class="badge bg-primary">Research</span>
            <span class="badge bg-primary">Design</span>
            <span class="badge bg-primary">Engineering</span>
          </div>

          <p class="text-black">Website redesign for the Alpha-1 Foundation, a non-profit organization that supports and funds research on lung and liver diseases associated with Alpha-1 Antitrypsin&nbsp;Deficiency</p>
          <a href="/alpha-1-foundation/" class="btn btn-outline-dark btn-sm">
            <span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i>
          </a>
        </div>
      </div>




      <div class="case-study row justify-content-lg-between align-items-center gy-4 py-5 py-lg-6" id="vertex">
        <div class="col-lg-6">
          <a href="/vertex/" class="d-inline-block link-circle-container">
            <figure class="img-overlay mb-0">
              <img src="assets/img/vertex-mac.png" alt="Vertex design projects" class="w-100">
            </figure>
            <div class="link-circle"></div>
          </a>
        </div>
        <div class="col-lg-5">
          <h2 class="fw-normal mb-0">Vertex</h2>
          <div class="mt-2 mb-3">
            <span class="badge bg-primary">Design</span>
          </div>


          <p class="text-black">Interactive & customizable quiz system and homepage visual design for tax compliance software & services&nbsp;company</p>
          <a href="/vertex/" class="btn btn-outline-dark btn-sm">
            <span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i>
          </a>
        </div>
      </div>


      <div class="case-study row justify-content-lg-between align-items-center gy-4 py-5 py-lg-6" id="cyv">
        <div class="col-lg-6">
          <a href="/clear-your-view/" class="d-inline-block">
            <figure class="img-overlay mb-0">
              <img src="assets/img/cyv-mobile.png" alt="Clear Your View project" class="w-100">
            </figure>
          </a>
        </div>
        <div class="col-lg-5">
          <h2 class="fw-normal mb-0">Clear Your View</h2>

          <div class="mt-2 mb-3">
            <span class="badge bg-primary">Engineering</span>
          </div>

          <p class="text-black">Educational web presence for healthcare professionals about complete biomarker testing before first-line treatment for advanced cancer&nbsp;patients</p>
          <a href="/clear-your-view/" class="btn btn-outline-dark btn-sm">
            <span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i>
          </a>
        </div>
      </div>

      <div class="case-study row justify-content-lg-between align-items-center gy-4 py-5 py-lg-6" id="vocalio">
        <div class="col-lg-6">
          <a href="/vocalio/" class="d-inline-block">
            <figure class="img-overlay mb-0">
              <img src="assets/img/vocalio-thumb.png" alt="Vocalio project" class="img-thumbnail border-gray border-1" width="800" height="550">
              <div class="img-hover">
                <div class="img-text">View case study</div>
              </div>
            </figure>
          </a>
        </div>
        <div class="col-lg-5">
          <h2 class="fw-normal mb-0">Vocalio</h2>

          <div class="mt-2 mb-3">
            <span class="badge bg-primary">Research</span>
            <span class="badge bg-primary">Design</span>
          </div>

          <p class="text-black">Specialized pedagogical tool to improve the user experience of online voice&nbsp;lessons</p>
          <a href="/vocalio/" class="btn btn-outline-dark btn-sm">
            <span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i>
          </a>
        </div>
      </div>


      <div class="case-study row justify-content-lg-between align-items-center gy-4 py-5 py-lg-6" id="sustainabowl">
        <div class="col-lg-6">
          <a href="/sustain-a-bowl/" class="d-inline-block">
            <figure class="img-overlay mb-0">
              <img src="assets/img/sustainabowl-thumb.png" alt="Sustain-A-Bowl project" class="img-thumbnail border-gray border-1" width="800" height="550">
              <div class="img-hover">
                <p class="img-text"><span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
              </div>
            </figure>
          </a>
        </div>
        <div class="col-lg-5">
          <h2 class="fw-normal mb-0">Sustain-A-Bowl</h2>

          <div class="mt-2 mb-3">
            <span class="badge bg-primary">Research</span>
            <span class="badge bg-primary">Design</span>
          </div>

          <p class="text-black">Mobile web app for a healthy, sustainably-sourced food&nbsp;truck</p>
          <a href="/sustain-a-bowl/" class="btn btn-outline-dark btn-sm">
            <span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i>
          </a>
        </div>
      </div>


      <div class="case-study row justify-content-lg-between align-items-center gy-4 py-5 py-lg-6" id="pitchbook">
        <div class="col-lg-6">
          <a href="/pitchbook/" class="d-inline-block">
            <figure class="img-overlay mb-0">
              <img src="assets/img/pitchbook-mac.png" alt="Pitchbook projects" class="w-100">
            </figure>
          </a>
        </div>
        <div class="col-lg-5">
          <h2 class="fw-normal mb-0">PitchBook Data</h2>

          <div class="mt-2 mb-3">
            <span class="badge bg-primary">Research</span>
            <span class="badge bg-primary">Design</span>
            <span class="badge bg-primary">Engineering</span>
          </div>

          <p class="text-black">Collection of fintech tools and applications that helped significantly enhance data coverage, acquire exclusive company insights, and improve data&nbsp;quality</p>
          <a href="/pitchbook/" class="btn btn-outline-dark btn-sm">
            <span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i>
          </a>
        </div>
      </div>

    </div>

  </div>

</div>



<script>

  $('.case-study').css('opacity', 0); // immediately hide element

  // .waypoint(function(direction) {
  //   if (direction === 'down') {
  //     $(this.element).animate({ opacity: 1 });
  //   } else {
  //     $(this.element).animate({ opacity: 0 })
  //   }
  // }, {
  //   offset: '50%'
  // });


var a1f = new Waypoint.Inview({
  element: $('#a1f'),
  enter: function(direction) {
    $(this.element).animate({ opacity: 1 });
  },
  exited: function(direction) {
    $(this.element).animate({ opacity: 0 });
  }
})

var vertex = new Waypoint.Inview({
  element: $('#vertex'),
  enter: function(direction) {
    $(this.element).animate({ opacity: 1 });
  },
  exited: function(direction) {
    $(this.element).animate({ opacity: 0 });
  }
})

var cyv = new Waypoint.Inview({
  element: $('#cyv'),
  enter: function(direction) {
    $(this.element).animate({ opacity: 1 });
  },
  exited: function(direction) {
    $(this.element).animate({ opacity: 0 });
  }
})


var vocalio = new Waypoint.Inview({
  element: $('#vocalio'),
  enter: function(direction) {
    $(this.element).animate({ opacity: 1 });
  },
  exited: function(direction) {
    $(this.element).animate({ opacity: 0 });
  }
})


var sustainabowl = new Waypoint.Inview({
  element: $('#sustainabowl'),
  enter: function(direction) {
    $(this.element).animate({ opacity: 1 });
  },
  exited: function(direction) {
    $(this.element).animate({ opacity: 0 });
  }
})


var pitchbook = new Waypoint.Inview({
  element: $('#pitchbook'),
  enter: function(direction) {
    $(this.element).animate({ opacity: 1 });
  },
  exited: function(direction) {
    $(this.element).animate({ opacity: 0 });
  }
})

  // $('#vertex')
  // .css('opacity', 0) // immediately hide element
  // .waypoint(function(direction) {
  //   if (direction === 'down') {
  //     $(this.element).animate({ opacity: 1 });
  //     screenshot.attr("src","assets/img/vertex-mac.png");
  //   }
  //   else {
  //     screenshot.attr("src","assets/img/a1f-mac.png");
  //     $(this.element).animate({ opacity: 0 });
  //   }
  // }, {
  //   offset: '60%'
  // });

</script>