---
layout: base
title: Portfolio
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /portfolio.html
---
  <!-- Header -->
  <div class="container py-5 py-lg-6">
    <div class="col-lg-10 col-xxl-8">
      <h1 class="display-3">Portfolio</h1>
      <div class="border border-5 border-light w-25 mb-4"></div>
      <p class="lead text-light">Dive into my UX work through detailed case studies.</p>
    </div>
  </div>

<!--
A1F
Carbon Titans
Vertex
CYV
Vocalio
Sustain-a-Bowl
PitchBook
 -->

  <!-- Projects -->
  <div class="container mb-4">


    <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6">
        <a href="/alpha-1-foundation/" class="d-inline-block">
          <figure class="img-overlay mb-0">
            <img src="assets/img/portfolio-1.jpg" alt="Architecture landing page" class="img-thumbnail" width="800" height="550">
            <div class="img-hover">
              <div class="img-text">View Case Study</div>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-5">
        <h2 class="fw-normal">Alpha-1 Foundation</h2>
        <p class="fw-light text-light">Website redesign for the Alpha-1 Foundation, a non-profit organization that supports and funds research on lung and liver diseases associated with Alpha-1 Antitrypsin Deficiency</p>
        <a href="/alpha-1-foundation/" class="link-underline">View Case Study</a>
      </div>
    </div>


    <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6 order-lg-2">
        <a href="/carbon-titans/" class="d-inline-block">
          <figure class="img-overlay mb-0">
            <img src="assets/img/portfolio-2.jpg" alt="Interior Design landing page" class="img-thumbnail" width="800" height="550">
            <div class="img-hover">
              <p class="img-text">View Case Study</p>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-5 order-lg-1">
        <h2 class="fw-normal">Carbon Titans</h2>
        <p class="fw-light text-light">Website redesign and rebuild for company focused on planting redwood trees to combat climate change</p>
        <a href="/carbon-titans/" class="link-underline">View Case Study</a>
      </div>
    </div>


    <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6">
        <a href="/vertex/" class="d-inline-block">
          <figure class="img-overlay mb-0">
            <img src="assets/img/portfolio-3.jpg" alt="Photography landing page" class="img-thumbnail" width="800" height="550">
            <div class="img-hover">
              <p class="img-text">View Case Study</p>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-5">
        <h2 class="fw-normal">Vertex</h2>
        <p class="fw-light text-light">Interactive quiz component and component/visual design for tax compliance software and services company</p>
        <a href="/vertex/" class="link-underline">View Case Study</a>
      </div>
    </div>


    <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6 order-lg-2">
        <a href="/clear-your-view/" class="d-inline-block">
          <figure class="img-overlay mb-0">
            <img src="assets/img/portfolio-2.jpg" alt="Interior Design landing page" class="img-thumbnail" width="800" height="550">
            <div class="img-hover">
              <p class="img-text">View Case Study</p>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-5 order-lg-1">
        <h2 class="fw-normal">Clear Your View</h2>
        <p class="fw-light text-light">Educational web presence for healthcare professionals about complete biomarker testing before first-line treatment for advanced cancer patients</p>
        <a href="/clear-your-view/" class="link-underline">View Case Study</a>
      </div>
    </div>

    <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6">
        <a href="/vocalio/" class="d-inline-block">
          <figure class="img-overlay mb-0">
            <img src="assets/img/portfolio-1.jpg" alt="Architecture landing page" class="img-thumbnail" width="800" height="550">
            <div class="img-hover">
              <div class="img-text">View Case Study</div>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-5">
        <h2 class="fw-normal">Vocalio</h2>
        <p class="fw-light text-light">Improving the user experience of online voice lessons</p>
        <a href="/vocalio/" class="link-underline">View Case Study</a>
      </div>
    </div>


    <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6 order-lg-2">
        <a href="/sustain-a-bowl/" class="d-inline-block">
          <figure class="img-overlay mb-0">
            <img src="assets/img/portfolio-2.jpg" alt="Interior Design landing page" class="img-thumbnail" width="800" height="550">
            <div class="img-hover">
              <p class="img-text">View Case Study</p>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-5 order-lg-1">
        <h2 class="fw-normal">Sustain-A-Bowl</h2>
        <p class="fw-light text-light">Mobile web app for a healthy, sustainably-sourced food truck</p>
        <a href="/sustain-a-bowl/" class="link-underline">View Case Study</a>
      </div>
    </div>


    <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6">
        <a href="/pitchbook/" class="d-inline-block">
          <figure class="img-overlay mb-0">
            <img src="assets/img/portfolio-3.jpg" alt="Photography landing page" class="img-thumbnail" width="800" height="550">
            <div class="img-hover">
              <p class="img-text">View Case Study</p>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-5">
        <h2 class="fw-normal">PitchBook Data</h2>
        <p class="fw-light text-light">Collection of fintech tools and applications that helped significantly enhance data coverage, acquire exclusive company insights, and improve data quality</p>
        <a href="/pitchbook/" class="link-underline">View Case Study</a>
      </div>
    </div>



  </div>







  <!-- Call to action -->
  <div class="text-bg-primary text-center">
    <div class="container py-5 py-lg-6">
      <h2>I help you to design your ideal website</h2>
      <p class="lead mb-4">Excepteur sint occaecat cupidatat non proident, sunt in est laborum.</p>
      <a href="contact.html" class="btn btn-outline-dark">Contact</a>
    </div>
  </div>
