---
layout: base
title: Profile
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /profile.html
---

    <main id="content">

        <div class="container py-6">
            <div class="row justify-content-center">
                <div class="col-lg-3 text-center">
                    <img src="assets/img/headshot-md.png" class="img-fluid rounded-circle mb-4 profile-max-width bg-primary" alt="">
                </div>
                <div class="col-lg-4 text-center-tablet">
                    <h1 class="display-4 mt-3 mb-0">Dan Smith</h1>
                    <p class="lead text-secondary mt-0 mb-0">MPS, UXMC</p>
                    <div class="border border-3 border-light w-15 my-4 mx-auto mx-md-0"></div>
                    <p class="text-secondary mt-1 mb-5"><i class="material-icons align-middle text-primary">place</i>&nbsp;Seattle, WA</p>
                </div>
            </div>
        </div>

        <div class="bg-white text-black">
            <div class="container py-sm-2">
                <div class="bg-white mt-n5 mt-md-n6 px-sm-3 px-lg-0">
                    <div class="row justify-content-center py-6 py-lg-5">
                        <div class="col-md-10 col-lg-9">

                            <h2 class="">Profile</h2>
                            <p class="lead">Technical, creative, curious, user-centric problem&nbsp;solver</p>

                            <p>I'm driven to understand and optimize our human experience&nbsp;&mdash; especially how we interact with technology. As an empathetic technologist, I feel called to create ethical, accessible, thoughtful products and experiences that positively impact and enrich&nbsp;us.</p>

                            <p>I hold a master's degree in user experience design from the <a href="https://www.mica.edu/" target="_blank">Maryland Institute College of Art</a>, and have worked as a front-end engineer and UX designer for the past five years&nbsp;&mdash; most recently at Microsoft. I've also earned a UX Master Certification from the <a href="https://www.nngroup.com/ux-certification/verify/" target="_blank">Nielsen Norman Group</a> <small>(certification ID #<a class="clipboard" data-clipboard-text="1015101" data-toggle="tooltip" title="Copy to clipboard" data-placement="top" data-animation="true">1015101</a>)</small>, with over 90 hours of interaction design and UX research&nbsp;coursework.</p>

                            <p>Outside of tech and design, I enjoy listening to and <a href="https://dansmith.fm/" target="_blank">making music</a>, traveling, and staying active. I love learning about languages, cultures, psychology, science, and interior design, to name a&nbsp;few.</p>

                            <div>
                                <a href="assets/img/dan-smith-resume.pdf" target="_blank" class="btn btn-primary align-middle mt-3"><span class="align-text-top">Download r&eacute;sum&eacute;&nbsp;</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>
                            </div>

                            <div>
                                <a href="https://www.linkedin.com/in/dansmithux/" target="_blank" class="btn btn-outline-black mt-3"><i class="material-icons align-middle">person_add_alt_1</i>&nbsp;<span class="align-text-top">Connect on LinkedIn</span></a>
                            </div>

                            <hr class="my-5">

                            <h3 class="mt-5">Skills</h3>
                            <ul>
                                <li>Interaction design</li>
                                <li>Prototyping <small>(Figma, Sketch + Invision)</small></li>
                                <li>Responsive front-end development <small>(HTML5&nbsp;/ CSS3&nbsp;/ JS)</small></li>
                                <li>UI design</li>
                                <li>User research <small>(interviews, usability testing, contextual inquiry studies)</small></li>
                                <li>UX writing</li>
                                <li>Information architecture</li>
                                <li>Design thinking</li>
                                <li>Project management</li>
                                <li>Teaching + coaching</li>
                                <li>Myers&ndash;Briggs Type Indicator <small>(MBTI)</small></li>
                            </ul>

                            <h3 class="mt-5">Education</h3>
                            <ul>
                                <li>
                                    <p>
                                        <strong>Master&nbsp;of&nbsp;Professional&nbsp;Studies</strong> <small>(MPS)</small> in User&nbsp;Experience&nbsp;Design<br>
                                        <a href="https://www.mica.edu/" target="_blank">Maryland&nbsp;Institute&nbsp;College&nbsp;of&nbsp;Art (MICA)</a><br>
                                        August&nbsp;2019&ndash;December&nbsp;2020<br>
                                        <em>Recipient of MICA UX Design Thesis Award</em><br>
                                        <em>4.0 GPA</em>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>UX Master Certificate</strong> <small>(UXMC)</small> with Interaction Design & UX Research&nbsp;Specialties<br>
                                        <a href="https://www.nngroup.com/ux-certification/verify/" target="_blank">Nielsen Norman Group</a><br>
                                        Certification ID #<a class="clipboard" data-clipboard-text="1015101" data-toggle="tooltip" title="Copy to clipboard" data-placement="top" data-animation="true">1015101</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>User Experience Design Certificate</strong><br>
                                        <a href="https://generalassemb.ly/" target="_blank">General&nbsp;Assembly</a><br>
                                        July&nbsp;2017&ndash;September&nbsp;2017
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Bachelor&nbsp;of&nbsp;Arts</strong> <small>(BA)</small> in Music<br>
                                        <a href="https://www.wwu.edu/" target="_blank">Western&nbsp;Washington&nbsp;University</a><br>
                                        September&nbsp;2009&ndash;March&nbsp;2014
                                    </p>
                                </li>
                            </ul>

                            <h3 class="mt-5">Experience</h3>
                            <ul>
                                <li>
                                    <p>
                                        <strong>Front-End Engineer & UX Designer</strong><br>
                                        <a href="https://speaking-of-science.com/" target="_blank">Speaking of Science</a><br>
                                        February&nbsp;2021&ndash;present
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Front-End Engineer & UX Designer</strong><br>
                                        <a href="https://www.microsoft.com/" target="_blank">Microsoft</a><br>
                                        March&nbsp;2017&ndash;April 2021
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Web Development Engineer & UX Designer</strong><br>
                                        <a href="https://www.pitchbook.com/" target="_blank">PitchBook Data</a><br>
                                        September&nbsp;2015&ndash;March 2017
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Teaching&nbsp;Assistant</strong><br>
                                        <a href="https://generalassemb.ly/locations/seattle/" target="_blank">General&nbsp;Assembly</a><br>
                                        June&nbsp;2015&ndash;February&nbsp;2016
                                    </p>
                                </li>
                            </ul>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="bg-secondary text-dark text-center">
            <div class="container py-6">
                <div class="bg-secondary px-sm-3 px-lg-0">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-9">


                            <h3 class="text-left">Areas of interest</h3>


                            <div class="row align-items-center justify-content-between">

                                <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                                    <i class="material-icons icon-2x align-middle">music_note</i>
                                    <div>Music</div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                                    <i class="material-icons icon-2x align-middle">school</i>
                                    <div>Education</div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                                    <i class="material-icons icon-2x align-middle">fitness_center</i>
                                    <div>Fitness</div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                                    <i class="material-icons icon-2x align-middle">shopping_cart</i>
                                    <div>E-commerce</div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                                    <i class="material-icons icon-2x align-middle">health_and_safety</i>
                                    <div>Healthcare</div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                                    <i class="material-icons icon-2x align-middle">self_improvement</i>
                                    <div>Mental health</div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                                    <i class="material-icons icon-2x align-middle">connect_without_contact</i>
                                    <div>Social media</div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                                    <i class="material-icons icon-2x align-middle">video_library</i>
                                    <div>Entertainment</div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                                    <i class="material-icons icon-2x align-middle">record_voice_over</i>
                                    <div>Voice technology</div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                                    <i class="material-icons icon-2x align-middle">smart_button</i>
                                    <div>AR/VR</div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="bg-white text-dark">
            <div class="container py-6">
                <div class="bg-white px-sm-3 px-lg-0">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-9">

                            <h3>Manifesto</h3>

                            <p>I believe in:</p>
                            <ol>
                                <li>A continued commitment to <strong>growth</strong>, <strong>curiosity</strong>, and <strong>education</strong></li>
                                    <ol>
                                        <li>Never being the smartest person in a room</li>
                                        <li>Humility – framing failure as a necessary step towards growth</li>
                                    </ol>
                                <li>Intentionality, minimalism, efficiency, reducing “work” when possible</li>
                                <li>Equitable emphasis on <strong>form</strong> and <strong>function</strong></li>
                                    <ol>
                                        <li>Solid function earns <strong>validity</strong>; solid form earns <strong>trust</strong></li>
                                    </ol>
                                <li>Being able to entertain an idea without fully accepting it</li>
                                    <ol>
                                        <li>Working towards <strong>consciousness</strong> of biases and attachments</li>
                                        <li>Being <strong>open</strong> to the road less traveled</li>
                                    </ol>
                                <li>Drawing inspiration from as many sources as possible; design is intrinsically <strong>interdisciplinary</strong></li>
                                    <ol>
                                        <li>Lateral thinking; cultivating creativity through a balanced and full life</li>
                                    </ol>
                                <li>Doing no harm – <strong>ethical</strong>, honest, inclusive, accessible, ergonomic design</li>
                                <li><strong>Reducing friction</strong>; <strong>returning valuable time</strong> to people, so that they can achieve their goals and focus on meaningful, fulfilling activities and relationships</li>
                                <li>Appreciating and <strong>honoring</strong> that <strong>humans</strong> are <strong>interconnected</strong> and need one another to grow and thrive; using technology to further foster community</li>
                            </ol>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="bg-primary text-dark text-center">
            <div class="container py-6">
                <h2>How can I help?</h2>
                <a href="contact.html" class="btn btn-light mt-4 mb-2"><span class="align-text-top">Get in touch</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>
            </div>
        </div>
    </main>

    <script>
        $(document).ready(function() {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        });

        new ClipboardJS('.clipboard');
    </script>
