---
layout: base
title: Profile
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /profile.html
---

<div class="container py-6">
    <div class="row justify-content-center">
        <div class="col-lg-3 text-center">
            <img src="assets/img/headshot-md.png" class="img-fluid rounded-circle mb-4 profile-max-width bg-primary" alt="">
        </div>
        <div class="col-lg-4 text-center-tablet">
            <h1 class="display-4 mt-3 mb-0">Dan Smith</h1>
            <p class="lead text-secondary mt-0 mb-0">MPS, UXMC</p>
            <div class="border border-4 border-light w-25 my-4 mx-auto mx-md-0"></div>
            <p class="text-secondary"><i class="material-icons align-middle text-primary">place</i>&nbsp;Seattle, WA</p>
        </div>
    </div>
</div>

<div class="bg-white text-black">
    <div class="container py-sm-2">
        <div class="bg-white mt-n5 mt-md-n6 px-sm-3 px-lg-0">
            <div class="row justify-content-center py-6 py-lg-5">
                <div class="col-md-10 col-lg-9">

                    <h2 class="">Profile</h2>
                    <p class="lead">Technical, creative, curious, user-centric problem&nbsp;solver</p>

                    <p>I'm driven to understand and optimize our human experience&nbsp;&mdash; especially how we interact with technology. As an empathetic technologist, I feel called to create ethical, accessible, thoughtful products and experiences that positively impact and enrich&nbsp;us.</p>

                    <p>I hold a master's degree in user experience design from the <a href="https://www.mica.edu/" target="_blank">Maryland Institute College of Art</a>, and have worked as a front-end engineer and UX designer for the past five years&nbsp;&mdash; most recently at Microsoft. I've also earned a UX Master Certification from the <a href="https://www.nngroup.com/ux-certification/verify/" target="_blank">Nielsen Norman Group</a> <small>(certification ID #<a class="clipboard" data-clipboard-text="1015101" data-toggle="tooltip" title="Copy to clipboard" data-placement="top" data-animation="true">1015101</a>)</small>, with over 90 hours of interaction design and UX research&nbsp;coursework.</p>

                    <p>Outside of tech and design, I enjoy listening to and <a href="https://dansmithmusic.netlify.app/" target="_blank">making music</a>, traveling, and staying active. I love learning about languages, cultures, psychology, science, and interior design, to name a&nbsp;few.</p>

                    <div>
                        <a href="assets/downloads/dan-smith-ux-designer.pdf" target="_blank" class="btn btn-primary align-middle mt-3"><span class="align-text-top">Download r&eacute;sum&eacute;&nbsp;</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>
                    </div>

                    <div>
                        <a href="https://www.linkedin.com/in/dansmithux/" target="_blank" class="btn btn-outline-black mt-3">

<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg>


                            &nbsp;<span class="align-text-top">Connect on LinkedIn</span>
                        </a>
                    </div>

                    <hr class="my-5">

                    <h3 class="mt-5">Skills</h3>
                    <ul>
                        <li>Interaction design</li>
                        <li>Prototyping <small>(Figma, Sketch + Invision)</small></li>
                        <li>Responsive front-end development <small>(HTML5&nbsp;/ CSS3&nbsp;/ JS)</small></li>
                        <li>UI design</li>
                        <li>User research <small>(interviews, usability testing, contextual inquiry studies)</small></li>
                        <li>UX writing</li>
                        <li>Information architecture</li>
                        <li>Design thinking</li>
                        <li>Project management</li>
                        <li>Teaching + coaching</li>
                        <li>Myers&ndash;Briggs Type Indicator <small>(MBTI)</small></li>
                    </ul>

                    <h3 class="mt-5">Education</h3>
                    <ul>
                        <li>
                            <p>
                                <strong>Master&nbsp;of&nbsp;Professional&nbsp;Studies</strong> <small>(MPS)</small> in User&nbsp;Experience&nbsp;Design<br>
                                <a href="https://www.mica.edu/" target="_blank">Maryland&nbsp;Institute&nbsp;College&nbsp;of&nbsp;Art (MICA)</a><br>
                                August&nbsp;2019&ndash;December&nbsp;2020<br>
                                <em>Recipient of MICA UX Design Thesis Award</em><br>
                                <em>4.0 GPA</em>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>UX Master Certificate</strong> <small>(UXMC)</small> with Interaction Design & UX Research&nbsp;Specialties<br>
                                <a href="https://www.nngroup.com/ux-certification/verify/" target="_blank">Nielsen Norman Group</a><br>
                                Certification ID #<a class="clipboard" data-clipboard-text="1015101" data-toggle="tooltip" title="Copy to clipboard" data-placement="top" data-animation="true">1015101</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>User Experience Design Certificate</strong><br>
                                <a href="https://generalassemb.ly/" target="_blank">General&nbsp;Assembly</a><br>
                                July&nbsp;2017&ndash;September&nbsp;2017
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Web Development Immersive</strong><br>
                                <a href="https://generalassemb.ly/" target="_blank">General&nbsp;Assembly</a><br>
                                March&nbsp;2015&ndash;June&nbsp;2015
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Bachelor&nbsp;of&nbsp;Arts</strong> <small>(BA)</small> in Music<br>
                                <a href="https://www.wwu.edu/" target="_blank">Western&nbsp;Washington&nbsp;University</a><br>
                                September&nbsp;2009&ndash;March&nbsp;2014
                            </p>
                        </li>
                    </ul>

                    <h3 class="mt-5">Experience</h3>
                    <ul>
                        <li>
                            <p>
                                <strong>UX Lead</strong><br>
                                <a href="https://speaking-of-science.com/" target="_blank">Speaking of Science</a><br>
                                November&nbsp;2022&ndash;present
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>UX Strategist</strong><br>
                                <a href="https://o3world.com/" target="_blank">O3 World</a><br>
                                February&nbsp;2022&ndash;September 2022
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Front-End Engineer & UX Designer</strong><br>
                                <a href="https://speaking-of-science.com/" target="_blank">Speaking of Science</a><br>
                                February&nbsp;2021&ndash;November 2022
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Front-End Engineer & UX Designer</strong><br>
                                <a href="https://www.microsoft.com/" target="_blank">Microsoft</a><br>
                                March&nbsp;2017&ndash;April 2021
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Web Development Engineer & UX Designer</strong><br>
                                <a href="https://www.pitchbook.com/" target="_blank">PitchBook Data</a><br>
                                September&nbsp;2015&ndash;March 2017
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Teaching&nbsp;Assistant</strong><br>
                                <a href="https://generalassemb.ly/locations/seattle/" target="_blank">General&nbsp;Assembly</a><br>
                                June&nbsp;2015&ndash;February&nbsp;2016
                            </p>
                        </li>
                    </ul>
                    

                </div>
            </div>
        </div>
    </div>
</div>



<div class="bg-secondary text-dark text-center">
    <div class="container py-6">
        <div class="bg-secondary px-sm-3 px-lg-0">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">


                    <h3 class="text-left">Areas of interest</h3>


                    <div class="row align-items-center justify-content-between">

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">music_note</i>
                            <div>Music</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">health_and_safety</i>
                            <div>Healthcare</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">self_improvement</i>
                            <div>Mental health</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">school</i>
                            <div>Education</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">smart_button</i>
                            <div>AI & ML</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">record_voice_over</i>
                            <div>Conversation design</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">fitness_center</i>
                            <div>Fitness</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">shopping_cart</i>
                            <div>E-commerce</div>
                        </div>


                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">connect_without_contact</i>
                            <div>Social media</div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-white text-dark">
    <div class="container py-6">
        <div class="bg-white px-sm-3 px-lg-0">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">

                    <h3>Manifesto</h3>

                    <p>I believe in:</p>
                    <ol>
                        <li>A continued commitment to <strong>growth</strong>, <strong>curiosity</strong>, and <strong>education</strong></li>
                        <ol>
                            <li>Never being the smartest person in a room</li>
                            <li>Humility – framing failure as a necessary step towards growth</li>
                        </ol>
                        <li>Intentionality, minimalism, efficiency, reducing “work” when possible</li>
                        <li>Equitable emphasis on <strong>form</strong> and <strong>function</strong></li>
                        <ol>
                            <li>Solid function earns <strong>validity</strong>; solid form earns <strong>trust</strong></li>
                        </ol>
                        <li>Being able to entertain an idea without fully accepting it</li>
                        <ol>
                            <li>Working towards <strong>consciousness</strong> of biases and attachments</li>
                            <li>Being <strong>open</strong> to the road less traveled</li>
                        </ol>
                        <li>Drawing inspiration from as many sources as possible; design is intrinsically <strong>interdisciplinary</strong></li>
                        <ol>
                            <li>Lateral thinking; cultivating creativity through a balanced and full life</li>
                        </ol>
                        <li>Doing no harm – <strong>ethical</strong>, honest, inclusive, accessible, ergonomic design</li>
                        <li><strong>Reducing friction</strong>; <strong>returning valuable time</strong> to people, so that they can achieve their goals and focus on meaningful, fulfilling activities and relationships</li>
                        <li>Appreciating and <strong>honoring</strong> that <strong>humans</strong> are <strong>interconnected</strong> and need one another to grow and thrive; using technology to further foster community</li>
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });

    new ClipboardJS('.clipboard');
</script>