---
layout: base
title: Profile
description: Dan Smith's résumé description
permalink: /resume.html
---

<div class="container py-6 pattern-square">
    <div class="row justify-content-center">
        <div class="col-lg-5 text-center text-lg-end">
            <img src="assets/img/headshot-md.png" class="img-fluid rounded-circle profile-max-width bg-primary" alt="">
        </div>
        <div class="col-lg-6 mt-3 mt-lg-0 text-center-tablet text-white">
            <h1 class="display-4 mb-0">Dan Smith</h1>
            <p class="lead mt-0 mb-3">MPS, UXMC</p>
            <div class="border border-3 border-white w-15 my-3 mx-auto mx-lg-0"></div>
            <p class="mb-0"><i class="material-icons align-middle text-primary">place</i>&nbsp;Seattle, WA</p>
        </div>
    </div>
</div>


<div class="bg-light text-black">
    <div class="container">
        <div class="row pt-3 pb-4">
            <div class="col-12 text-center">

                <a href="assets/downloads/dan-smith-ux-designer.pdf" target="_blank" class="btn btn-primary btn-sm align-middle me-sm-4 mt-2"><span class="align-text-top">Download r&eacute;sum&eacute;&nbsp;</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>

                <a href="https://www.linkedin.com/in/dansmithux/" target="_blank" class="btn btn-sm btn-outline-dark mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                    </svg>
                    &nbsp;<span class="align-text-top">Connect on LinkedIn</span>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="bg-white text-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pe-lg-5 pt-5">

                <h2 class="mt-0">Summary</h2>


                <!-- To re-write -->
                <p class="lead">Technical, creative, curious, user-centric problem&nbsp;solver</p>

                <p>As a UX engineer, I have cultivated a comprehensive skill set spanning the entire product development lifecycle.</p>

                <p>I'm driven to understand and optimize our human experience&nbsp;&mdash; especially how we interact with technology. As an empathetic technologist, I feel called to create ethical, accessible, thoughtful products and experiences that positively impact and enrich us. In an overstimulated, information-saturated world, I aim to empower others to live with more ease and balance &mdash; to separate the signal from the&nbsp;noise.</p>

                <p>Outside of tech and design, I enjoy listening to and <a href="https://dansmithmusic.netlify.app/" target="_blank">making music</a>, traveling, and staying active. I love learning about languages, cultures, psychology, science, and interior design, to name a&nbsp;few.</p>


            </div>

            <div class="col-lg-6 pt-5">
                <h2 class="">Experience</h2>
                <ul>
                    <li>
                        <p>
                            <strong>UX Engineer</strong><br>
                            <a href="https://speaking-of-science.com/" target="_blank">Speaking of Science</a><br>
                            February&nbsp;2021&ndash;present
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>UX Strategist</strong><br>
                            <a href="https://o3world.com/" target="_blank">O3 World</a><br>
                            February&nbsp;2022&ndash;September 2022
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Software Engineer (Front-End & UX)</strong><br>
                            <a href="https://www.microsoft.com/" target="_blank">Microsoft</a><br>
                            March&nbsp;2017&ndash;April 2021
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Web Development Engineer</strong><br>
                            <a href="https://www.pitchbook.com/" target="_blank">PitchBook Data</a><br>
                            September&nbsp;2015&ndash;March 2017
                        </p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>


<div class="bg-white text-black">
    <div class="container">
        <div class="row pb-5">

            <div class="col-lg-6 pt-5">

                <h2 class="">Education</h2>
                <ul>
                    <li>
                        <p>
                            <strong>Master&nbsp;of&nbsp;Professional&nbsp;Studies</strong> <small>(MPS)</small> in User&nbsp;Experience&nbsp;Design<br>
                            <a href="https://www.mica.edu/" target="_blank">Maryland&nbsp;Institute&nbsp;College&nbsp;of&nbsp;Art (MICA)</a><br>
                            August&nbsp;2019&ndash;December&nbsp;2020<br>
                            <em>Recipient of MICA UX Design Thesis Award</em><br>
                            <em>4.0 GPA</em>
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>UX Master Certificate</strong> <small>(UXMC)</small> with Interaction Design & UX Research&nbsp;Specialties<br>
                            <a href="https://www.nngroup.com/ux-certification/verify/" target="_blank">Nielsen Norman Group</a><br>
                            Certification ID #<a class="clipboard" data-clipboard-text="1015101" data-toggle="tooltip" title="Copy to clipboard" data-placement="top" data-animation="true">1015101</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>User Experience Design Certificate</strong><br>
                            <a href="https://generalassemb.ly/" target="_blank">General&nbsp;Assembly</a><br>
                            July&nbsp;2017&ndash;September&nbsp;2017
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Web Development Immersive</strong><br>
                            <a href="https://generalassemb.ly/" target="_blank">General&nbsp;Assembly</a><br>
                            March&nbsp;2015&ndash;June&nbsp;2015
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Bachelor&nbsp;of&nbsp;Arts</strong> <small>(BA)</small> in Music<br>
                            <a href="https://www.wwu.edu/" target="_blank">Western&nbsp;Washington&nbsp;University</a><br>
                            September&nbsp;2009&ndash;March&nbsp;2014<br>
                            <em>3.56 GPA</em>
                        </p>
                    </li>
                </ul>


            </div>

            <div class="col-lg-6 pt-5">

                <h2 class="">Skills</h2>

                <p class="lead mb-0">Engineering</p>
                <p class="mb-0"><strong>Skills</strong>: HTML5, CSS3, Sass, JavaScript, React, WordPress, SQL, Responsive Design</p>
                <p><strong>Tools</strong>: Sublime Text, VS Code, Chrome DevTools, CLI, GitHub, Netlify</p>

                <p class="lead mb-0">Design</p>
                <p class="mb-0"><strong>Skills</strong>: Interaction Design, Wireframing, Visual Design, Prototyping, Information Architecture, Design Thinking, User-Centered Design</p>
                <p class=""><strong>Tools</strong>: Figma, FigJam, Miro, Sketch, Adobe Photoshop</p>

                <p class="lead mb-0">Research</p>
                <p class="mb-0"><strong>Skills</strong>: Usability Testing, Contextual Inquiries, User Interviews, Surveys, Card Sorting, Tree Testing, A/B Testing
                <p class=""><strong>Tools</strong>: Google Analytics, Optimal Workshop, UXtweak

                <p class="lead mb-0">Project Management & Collaboration</p>
                <p class="mb-0"><strong>Skills</strong>: Agile Methodology
                <p class=""><strong>Tools</strong>: Notion, JIRA, Google Workspace, Zoom, Slack, Teams

                <p class="lead mb-0">Generative AI</p>
                <p class="mb-0"><strong>Uses</strong>: Code Debugging, Brainstorming, Design Ideation, Research Analysis, Proofreading, Summarization, Copywriting
                <p class="mb-0"><strong>Tools</strong>: ChatGPT, DALL-E, Bard

            </div>

        </div>

    </div>
</div>


<div class="bg-light text-dark text-center">
    <div class="container py-5">
        <div class="px-sm-3 px-lg-0">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">
                    <h2 class="text-left">Areas of interest</h2>

                    <div class="row align-items-center justify-content-between">

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">music_note</i>
                            <div>Music</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">health_and_safety</i>
                            <div>Healthcare</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">self_improvement</i>
                            <div>Mental health</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">school</i>
                            <div>Education</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">smart_button</i>
                            <div>AI & ML</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">record_voice_over</i>
                            <div>Conversation design</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">fitness_center</i>
                            <div>Fitness</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">shopping_cart</i>
                            <div>E-commerce</div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-4 py-3 text-left">
                            <i class="material-icons icon-2x align-middle text-primary">connect_without_contact</i>
                            <div>Social media</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="bg-white text-dark">
    <div class="container py-6">
        <div class="bg-white px-sm-3 px-lg-0">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">

                    <h3>Manifesto</h3>

                    <p>I believe in:</p>
                    <ol>
                        <li>A continued commitment to <strong>growth</strong>, <strong>curiosity</strong>, and <strong>education</strong></li>
                        <ol>
                            <li>Never being the smartest person in a room</li>
                            <li>Humility – framing failure as a necessary step towards growth</li>
                        </ol>
                        <li>Intentionality, minimalism, efficiency, reducing “work” when possible</li>
                        <li>Equitable emphasis on <strong>form</strong> and <strong>function</strong></li>
                        <ol>
                            <li>Solid function earns <strong>validity</strong>; solid form earns <strong>trust</strong></li>
                        </ol>
                        <li>Being able to entertain an idea without fully accepting it</li>
                        <ol>
                            <li>Working towards <strong>consciousness</strong> of biases and attachments</li>
                            <li>Being <strong>open</strong> to the road less traveled</li>
                        </ol>
                        <li>Drawing inspiration from as many sources as possible; design is intrinsically <strong>interdisciplinary</strong></li>
                        <ol>
                            <li>Lateral thinking; cultivating creativity through a balanced and full life</li>
                        </ol>
                        <li>Doing no harm – <strong>ethical</strong>, honest, inclusive, accessible, ergonomic design</li>
                        <li><strong>Reducing friction</strong>; <strong>returning valuable time</strong> to people, so that they can achieve their goals and focus on meaningful, fulfilling activities and relationships</li>
                        <li>Appreciating and <strong>honoring</strong> that <strong>humans</strong> are <strong>interconnected</strong> and need one another to grow and thrive; using technology to further foster community</li>
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div> -->

<script>
    $(document).ready(function() {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });

    new ClipboardJS('.clipboard');
</script>