---
layout: base
title: Vertex
description: Interactive quiz component and component/visual design for tax compliance software and services company
permalink: /vertex.html
---










<div class="container py-5 py-lg-6">
    <div class="col-md-10 col-xxl-8 mx-auto">
      <h1>Vertex</h1>
      <p class="lead">Interactive quiz component and component/visual design for tax compliance software and services company</p>
      <div class="border border-3 border-light w-15 my-4"></div>
      <div class="d-flex align-items-center mb-4">
        <img src="assets/img/headshot-xs.png" class="bg-primary avatar avatar-sm me-3" alt="Dan Smith" width="1200" height="800">
        <div class="fst-italic small text-light">by Dan Smith</div>
        <div class="small text-light ms-auto">October&ndash;December 2020</div>
    </div>
</div>
</div>

<div class="bg-white text-black">
    <div class="container py-2">
        <div class="bg-white mt-lg-n6 px-3 px-lg-0">
            <div class="row justify-content-center py-4 py-lg-5">
                <div class="col-md-10 col-lg-8">

                    
  <h2 class="mt-4">Background</h2>
  <p class="mb-2">Interactive quiz component and component/visual design for tax compliance software and services&nbsp;company</p>


  <h2 class="mt-4">Interactive Quiz</h2>
  <p class="mb-2">Flexible interactive quiz system to increase user engagement and conversion</p>
  <a href="https://www.figma.com/file/Xmrjk8oY7UW2YyZuXq9Tyn/Portfolio-%2F-Vertex%3A-Quiz?type=design&node-id=43%3A2&mode=design&t=8t2egPNjaAye7YOB-1" target="_blank" class="d-block text-black text-decoration-underline"><span>View Figma file of Interactive Quiz</span> &rarr;</a>


  <h2 class="mt-4">Product Call-Out Components</h2>
  <p class="mb-2">Visual design options for featuring new products on the Vertex&nbsp;homepage</p>
  <a href="https://www.figma.com/file/EAYhYptaqDvOJoL4eGmxQJ/Portfolio-%2F-Vertex%3A-Product-Call-Out-Ideation?type=design&node-id=0%3A1&mode=design&t=BAkDNrPn4WRu8gGE-1" target="_blank" class="d-block text-black text-decoration-underline"><span>View Figma file of Product Call-Out Ideation</span> &rarr;</a>



  <h2 class="mt-4">Award Components</h2>
  <p class="mb-2">Visual design options for highlighting awards that Vertex has won on their&nbsp;homepage</p>
  <a href="https://www.figma.com/file/OmBTBhmnWVc4qrxp1BB7Qj/Portfolio-%2F-Vertex%3A-Award-Component-Ideation?type=design&node-id=0%3A1&mode=design&t=ReDSBPTnNggg3XJ1-1" target="_blank" class="d-block text-black text-decoration-underline"><span>View Figma file of Award Component Ideation</span> &rarr;</a>



        <hr class="my-5">

        <div class="d-flex justify-content-between align-content-center lh-1">
            <a href="#" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Previous case study">
              <i class="material-icons icon-2x" aria-hidden="true">arrow_back</i>
              <span class="visually-hidden">Previous case study</span>
          </a>
          <a href="case-studies.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="View all case studies">
              <i class="material-icons icon-2x">view_module</i>
          </a>
          <a href="#" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Next case study">
              <i class="material-icons icon-2x" aria-hidden="true">arrow_forward</i>
              <span class="visually-hidden">Next case study</span>
          </a>
        </div>

    </div>

</div>
</div>
</div>
</div>
