---
layout: base
title: Vocalio
description: Specialized pedagogical tool to improve the user experience of online voice lessons
permalink: /vocalio.html
---


<div class="container py-5 pattern-square">
    <div class="col-md-10 col-xxl-8 mx-auto">
        <h1>Vocalio</h1>
        <p class="lead">Specialized pedagogical tool to improve the user experience of online voice&nbsp;lessons</p>
        <div class="border border-3 border-light w-15 my-4"></div>
        <div class="d-flex align-items-center mb-4">
            <img src="assets/img/headshot-xs.png" class="bg-primary avatar avatar-sm me-3" alt="Dan Smith" width="1200" height="800">
            <div class="fst-italic small text-light">by Dan Smith</div>
            <div class="small text-light ms-auto">October&ndash;December 2020</div>
        </div>
    </div>
</div>

<div class="bg-white text-black">
    <div class="container py-2">
        <div class="bg-white">
            <div class="row py-4 py-lg-5">
                <div class="col-md-12">

                    <h2 class="mt-4">Background</h2>
                    <ul>
                        <li>Voice lessons provide students a <strong>creative outlet</strong>, artistic <strong>growth</strong>, and the satisfaction of <strong>self-improvement</strong> in a supportive, collaborative environment</li>
                        <li>They cost anywhere from $50 to $200 / hour</li>
                        <li>Since COVID-19, nearly all <strong>voice instructors</strong> have shifted to <strong>online</strong> lessons via Skype/Zoom</li>
                    </ul>

                    <h3 class="mt-4">Contributions</h3>
                    <ul>
                        <li>User research (interviews, contextual inquiry, task analysis, usability testing)</li>
                        <li>Solution ideation, feature design</li>
                        <li>Wireframes, interface design, interaction design, high-fidelity prototype</li>
                    </ul>

                    <h3 class="mt-4">Timeline</h3>
                    <p>This project lasted for about 10 weeks, from October 2020 to December 2020.</p>

                    <hr class="my-5">


                    <h2 class="mt-4">Problem</h2>
                    <p class="">Singing instructors who teach over <strong>Skype</strong> or <strong>Zoom</strong> sometimes find it difficult to <strong>match</strong> the <strong>effectiveness</strong> of teaching in-person.</p>

                    <p>If we compare an in-person lesson with an online lesson, we're presented with the dilemma of audio lag:</p>

                    <div id="slideshow" class="carousel slide  border border-secondary" data-bs-ride="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/img/vocalio/in-person.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/img/vocalio/online.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#slideshow" data-bs-slide="prev">
                            <i class="material-icons icon-lg" aria-hidden="true">arrow_back_ios_new</i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next justify-content-end" type="button" data-bs-target="#slideshow" data-bs-slide="next">
                            <i class="material-icons icon-lg" aria-hidden="true">arrow_forward_ios</i>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#slideshow" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#slideshow" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        </div>
                    </div>



                    <h3 class="mt-5">User needs</h3>
                    <p>Singing teachers who teach online need a way to:</p>
                    <ul>                            
                        <li>Provide students <strong>live accompaniment</strong> for exercises they prescribe during lessons</li>
                        <li>Improve their <strong>effectiveness</strong> as vocal technicians</li>
                        <li>Maintain control of the <strong>flow</strong> and <strong>pace</strong> of each lesson</li>
                        <li><strong>Focus</strong> more on <strong>students</strong> and less on technology</li>
                    </ul>

                    <hr class="my-5">

                    <h2 class="mt-4">Solution</h2>
                    <p>The proposed solution is a responsive web app workflow tool for voice instructors that leverages a specific browser API that enables accompaniment to be quickly modified and sent to a student's device, resulting in a much more seamless and effective educational experience. An instructor would be able to connect a <strong>MIDI keyboard</strong> with the application for a seamless workflow.</p>

                    <p>I approached the problem by making <strong>research</strong> the driving force, ensuring the user's needs were met, while making sure any of my personal biases were minimized.</p>

                    <div class="mb-2">
                        <a href="https://www.figma.com/proto/v8Vt0nVhT4jRCt3ygGPTiL/Vocalio?page-id=0%3A1&type=design&node-id=111-46&viewport=-46%2C725%2C0.15&t=taUR6FMcXa8pQwAX-1&scaling=scale-down&mode=design" target="_blank" class="link-underline">Link to interactive prototype&nbsp;&rarr;</a>
                    </div>

                    <a href="https://www.figma.com/file/v8Vt0nVhT4jRCt3ygGPTiL/Vocalio?type=design&node-id=0%3A1&mode=design&t=NWX4TzEG8JI5PIlS-1" target="_blank" class="link-underline">Link to Figma board&nbsp;&rarr;</a>
                    </ul>

                    <div class="videoWrapper mt-5 mb-4">
                        <iframe width="560" height="349" src="https://www.youtube-nocookie.com/embed/-D18-6CVNjA?rel=0&modestbranding=1&autohide=1&showinfo=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <p>Based on the demo, one can see that, by using the solution, an online lesson is much more similar to an in-person lesson than before. The aforementioned needs of <strong>live accompaniment</strong>, <strong>increased effectiveness</strong>, instructor control of <strong>lesson flow</strong>, and increased <strong>focus on the student</strong> are all achieved.</p>

                    <hr class="my-5">

                    <h2 class="mt-4">Target audience</h2>
                    <p>The target audience is quite niche since the problem is highly specific. Voice instructors who teach online lessons are the primary audience, and their students are the secondary audience.</p>

                    <figure class="figure mt-2">
                        <img src="assets/img/vocalio/persona-maria.png" class="img-fluid border border-secondary" alt="" data-action="zoom">
                    </figure>

                    <figure class="figure mt-2">
                        <img src="assets/img/vocalio/persona-joe.png" class="img-fluid border border-secondary" alt="" data-action="zoom">
                    </figure>

                    <hr class="my-5">


                    <h2 class="mt-4">Process</h2>

                    <p>For my process, I visualized each research method as a landmark, with its output informing the subsequent research phase. This enabled me to pivot quickly and easily.</p>



                    <h3 class="mt-4">Research</h3>
                    <p>As mentioned, research was continual, allowing each phase to inform the next:</p>

                    <figure class="figure mt-2 mb-4">
                        <img src="assets/img/vocalio/process.png" class="img-fluid" alt="" data-action="zoom">
                    </figure>

                    <p>Specific research methods included:</p>

                    <ul>
                        <li>Semi-structured remote user interviews (30 minutes)</li>
                        <ul>
                            <li>3 instructors and 3 students</li>
                            <li>Used sacrificial concepts for both user types</li>
                            <li>For instructors, proposed process idea (capturing pattern on MIDI keyboard, transmitting to student's interface, modulating pre-captured pattern); seemed viable and solved for audio lag issues</li>
                            <li>For students, proposed interface visual idea via video recording, showing example from GarageBand:</li>
                        </ul>
                    </ul>

                    <figure class="figure mt-2 mb-4">
                        <img src="assets/img/vocalio/garageband.png" class="img-fluid" alt="" data-action="zoom">
                    </figure>

                    <ul>
                        <li>Contextual inquiry (30 minutes)</li>
                        <ul>
                            <li>Discussion then observation of 3 instructors and 3 students during online lessons</li>
                        </ul>
                    </ul>

                    <ul>
                        <li>Task analysis (20 minutes)</li>
                        <ul>
                            <li>More in-depth walkthrough with 2 instructors</li>
                            <li>Helped yield user requirements, user flows (e.g. modes), and wireframes</li>
                        </ul>
                    </ul>

                    <ul>
                        <li>Usability testing (20 minutes)</li>
                        <ul>
                            <li>Tested mid-fidelity wireframes with 3 instructors</li>
                            <li>Helped validate implementation of modes</li>
                            <li>Validated layout with mostly static toolbars and dynamic main content</li>
                        </ul>
                    </ul>


                    <h3 class="mt-4">Research findings</h3>

                    <ul>
                        <li>Students need accompaniment audio source to be on their end</li>
                        <ul>
                            <li>Allows for better pitch, since piano over video calls can sound "wobbly"/distorted</li>
                            <li>Helps students improve ear training and pitch matching</li>
                        </ul>
                        <li>Students exert excess mental effort (cognitive load) when they accompany themselves on the piano during exercises</li>
                        <li>Students generally see online lessons as a bit of a compromise; current perceived value is lower than in-person lessons</li>
                    </ul>

                    <ul>
                        <li>Instructors prefer to accompany students and collaborate more directly</li>
                        <li>Instructors would like to retain control of lesson flow and pace; some of that is lost in online lessons</li>
                        <li>Instructors currently rely on online lessons to stay in business, and also expand their studios, increasing access to students who might not otherwise have quality local instruction</li>
                        <li>Goal for some instructors is to change public perception of online lessons and improve perceived value and validity, sometimes hindered by audio lag and technological issues</li>
                    </ul>

                    <ul>
                        <li>Both user types need a solution that's easy-to-use, lightweight, and responsive to different devices</li>
                        <ul>
                            <li>Determined video calls would be an unnecessary feature for first version</li>
                        </ul>                                
                    </ul>

                    <figure class="figure mt-2 mb-4">
                        <img src="assets/img/vocalio/user-requirements.png" class="img-fluid" alt="" data-action="zoom">
                    </figure>

                    <h3 class="mt-4">Concept evolution</h3>
                    <p>With the aforementioned sketching as a starting place, the design evolved and pivoted as new research shed new light.</p>

                    <figure class="figure mt-2 mb-4">
                        <img src="assets/img/vocalio/first-iteration.png" class="img-fluid border border-secondary border-1" alt="" data-action="zoom">
                        <figcaption class="figure-caption mt-1">Initial concept: dashboard / single-page app layout</figcaption>
                    </figure>

                    <figure class="figure mt-2 mb-4">
                        <img src="assets/img/vocalio/second-iteration.png" class="img-fluid border border-secondary border-1" alt="" data-action="zoom">
                        <figcaption class="figure-caption mt-1">After task analysis, I pivoted, due to research pointing to "modes" that provide distinct functionality, flexibility, and structure based on instructor needs</figcaption>
                    </figure>

                    <figure class="figure mt-2 mb-4">
                        <img src="assets/img/vocalio/third-iteration.png" class="img-fluid border border-secondary border-1" alt="" data-action="zoom">
                        <figcaption class="figure-caption mt-1">After usability testing the "modes" prototype, I moved forward with visual design and refined interaction design</figcaption>
                    </figure>

                    <figure class="figure mt-2 mb-4">
                        <img src="assets/img/vocalio/student-position.png" class="img-fluid border border-secondary border-1" alt="" data-action="zoom">
                        <figcaption class="figure-caption mt-1">The student's interface remained largely the same throughout the process, since, aside from live accompaniment, there were only a few basic (mostly read-only) needs</figcaption>
                    </figure>

                    <h3 class="mt-4">Design principles</h3>
                    <p class="mb-0">1. <strong>Keep users informed of system status</strong></p>
                    <p>Users should be aware of any relevant system mode adjustments with constant feedback and visibility</p>
                    <p class="mb-0">2. <strong>Design with aesthetics and minimalism in mind</strong></p>
                    <p>Users shouldn’t feel overloaded with information or stimuli, especially since they’re already either singing or teaching</p>
                    <p class="mb-0">3. <strong>Make systems flexible so novices and experts can choose to do more or less on them</strong></p>
                    <p class="mb-5">Users of varying levels of musical experience should be able to customize their experience with features and settings relevant to them</p>

                    <h3 class="mt-4">Other considerations</h3>
                    <ul>
                        <li>Progressive disclosure</li>
                        <ul>
                            <li>Used on main view for setting parameters via dropdown menus, modals</li>
                        </ul>
                        <li>Staged disclosure</li>
                        <ul>
                            <li>Used in setting pitch range for an auto mode exercise set</li>
                        </ul>
                        <li>Responsive enabling</li>
                        <ul>
                            <li>For features and parameters that depend on another condition, namely an active mode</li>
                        </ul>
                    </ul>

                    <ul>
                        <li>Vertical positioning of content for each user's context</li>
                        <ul>
                            <li>An instructor's eyes go between a piano and the application interface very often, so more frequently used content is placed toward the bottom of the screen to reduce the physical distance between either target</li>
                            <li>The student's priority is physical alignment and posture, so content was positioned toward the top of the screen to help minimize neck constriction</li>
                        </ul>
                    </ul>


                    <hr class="my-5">


                    <h2 class="mt-4">Outcome</h2>
                    <p>The end result was a high-fidelity clickable prototype and concept, showing how to eliminate some of the issues that were initially present with online voice lessons. Many of my assumptions were validated, and some were proven false, which helped direct the project toward what the end user ultimately needs.</p>

                    <h3 class="mt-4">Challenges</h3>
                    <ul>
                        <li>Understanding and simplifying user needs into a streamlined, yet flexible process</li>
                        <li>Recruiting was challenging sometimes since I needed to schedule time to speak with busy instructors</li>
                        <li>Technical challenges: learned that there will be limitations in how this can be implemented as a web app (e.g. only usable with specific browsers)</li>
                    </ul>

                    <h3 class="mt-4">Reflection</h3>
                    <ul>
                        <li>There's a tremendous need for a solution to this problem</li>
                        <li>There's value in leveraging technology to be as present as possible, even when not physically possible</li>
                    </ul>

                    <h3 class="mt-4">Next steps</h3>
                    <ul>
                        <li>Build out / code MVP</li>
                        <li>Additional usability testing and design iteration</li>
                        <li>Validate benefit and effectiveness of the tool</li>
                        <li>Prioritize additional features:</li>
                        <ul>
                            <li>Record entire lesson of exercises for later practice</li>
                            <li>Denote consonants and vowels (with phonetic spelling or IPA) for each exercise</li>
                        </ul>
                    </ul>

                    <hr class="my-5">

                    <div class="d-flex justify-content-between align-content-center lh-1">
                        <a href="clear-your-view.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Previous case study">
                            <i class="material-icons icon-2x" aria-hidden="true">arrow_back</i>
                            <span class="visually-hidden">Previous case study</span>
                        </a>
                        <a href="portfolio.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="View all case studies">
                            <i class="material-icons icon-2x">view_module</i>
                        </a>
                        <a href="sustain-a-bowl.html" class="link-body-emphasis" data-bs-toggle="tooltip" data-bs-title="Next case study">
                            <i class="material-icons icon-2x" aria-hidden="true">arrow_forward</i>
                            <span class="visually-hidden">Next case study</span>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>