---
layout: base
title: Work
description: Focus is a clean portfolio theme for Bootstrap.
navbarColor: dark
permalink: /work.html
---
    <main id="content">

        <!-- Hero -->
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-9">
                    <h1 class="display-4 mb-4">Work</h1>
                    <div class="border border-5 border-light w-25 mb-4"></div>
                </div>
            </div>
        </div>

        <!-- Projects -->
        <div class="container pb-4">
            <h2 class="mb-4">User Experience</h2>
            <ul class="row list-unstyled mb-4">
                <li class="col-md-6 mb-3">
                    <a href="vocalio.html">
                        <figure>
                            <div class="img-overlay mb-3">
                                <img src="assets/img/vocalio-thumb.png" alt="Vocalio" class="img-thumbnail">
                                <div class="img-hover">
                                    <p class="img-text"><span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
                                </div>
                            </div>
                            <figcaption class="h5 fw-normal text-center">Vocalio</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="col-md-6 mb-3">
                    <a href="sustain-a-bowl.html">
                        <figure>
                            <div class="img-overlay mb-3">
                                <img src="assets/img/sustainabowl-thumb.png" alt="Vocalio" class="img-thumbnail">
                                <div class="img-hover">
                                    <p class="img-text"><span class="align-text-top">View case study&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></span></p>
                                </div>
                            </div>
                            <figcaption class="h5 fw-normal text-center">Sustain-A-Bowl</figcaption>
                        </figure>
                    </a>
                </li>
<!--                 <li class="col-md-6 mb-3">
                    <a href="sustain-a-bowl.html">
                        <figure>
                            <div class="img-overlay mb-3">
                                <img src="assets/img/sustainabowl-thumb.png" alt="Vocalio" class="img-thumbnail">
                                <div class="img-hover">
                                    <p class="img-text"><span class="align-text-top">View case study</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
                                </div>
                            </div>
                            <figcaption class="h5 fw-normal text-center">Sustain-A-Bowl</figcaption>
                        </figure>
                    </a>
                </li> -->
            </ul>

            <h2 class="mb-4">Front-End Development</h2>
            <ul class="row list-unstyled mb-4">
                <li class="col-md-6 mb-4">
                    <a href="https://clearyourview.org" target="_blank">
                        <figure>
                            <div class="img-overlay mb-3">
                                <img src="assets/img/cyv-thumb.png" alt="Clear Your View" class="img-thumbnail">
                                <div class="img-hover">
                                    <p class="img-text"><span class="align-text-top">View site</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
                                </div>
                            </div>
                            <figcaption class="h5 fw-normal text-center">Clear Your View</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="col-md-6 mb-4">
                    <a href="https://guardant360cdx.com" target="_blank">
                        <figure>
                            <div class="img-overlay mb-3">
                                <img src="assets/img/guardant-thumb.png" alt="Clear Your View" class="img-thumbnail">
                                <div class="img-hover">
                                    <p class="img-text"><span class="align-text-top">View site</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
                                </div>
                            </div>
                            <figcaption class="h5 fw-normal text-center">Guardant360 CDx</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="col-md-6 mb-4">
                    <a href="https://tissuenext-8987a7.netlify.app" target="_blank">
                        <figure>
                            <div class="img-overlay mb-3">
                                <img src="assets/img/tissuenext-thumb.png" alt="Clear Your View" class="img-thumbnail">
                                <div class="img-hover">
                                    <p class="img-text"><span class="align-text-top">View site</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
                                </div>
                            </div>
                            <figcaption class="h5 fw-normal text-center">TissueNext campaign</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="col-md-6 mb-4">
                    <a href="https://whyliquidfirst.com" target="_blank">
                        <figure>
                            <div class="img-overlay mb-3">
                                <img src="assets/img/liquid-first-thumb.png" alt="Clear Your View" class="img-thumbnail">
                                <div class="img-hover">
                                    <p class="img-text"><span class="align-text-top">View site</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></p>
                                </div>
                            </div>
                            <figcaption class="h5 fw-normal text-center">LiquidFirst campaign</figcaption>
                        </figure>
                    </a>
                </li>


            </ul>

        </div>

        <!-- Call to action -->
        <div class="bg-primary text-dark text-center">
            <div class="container py-6">
                <h2>How can I help?</h2>
                <a href="contact.html" class="btn btn-light mt-4 mb-2"><span class="align-text-top">Get in touch</span>&nbsp;<i class="material-icons align-middle">arrow_forward_ios</i></a>
            </div>
        </div>
    </main>
